// ------------------------------
// // edX Course Discovery: Base

// About: Base resets and definitons (using shared resources from elements when appropriate).

// ------------------------------
// #RESET
// ------------------------------
$background-color:  palette(grayscale, base) !default;
// ------------------------------
// #BASE
// ------------------------------
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: $background-color;
}

// ------------------------------
// #TYPOGRAPHY
// ------------------------------
