// ------------------------------
// edX Course Discovery: Config

// About: variable and configuration overrides

// ------------------------------
// #VARIABLES
// ------------------------------
$pattern-library-path: '../bower_components/edx-pattern-library' !default;
