// ------------------------------
// edX Course Discovery: Main Style Compile - RTL

// About: Main left-to-right Sass compile for the edX Course Discovery styling.

@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
// ------------------------------
// #CONFIG - layout direction
// ------------------------------
@import "rtl";

// ------------------------------
// #BUILD
// ------------------------------
@import 'build';
