{% load i18n %}
{% load comments %}

{% if user.is_authenticated and comment_object %}
    <div>
        <p><div class="heading">{% trans 'Comment:' %}</div></p>
        <div>
            {% get_comment_form for comment_object as form %}
            <form id="frm_comment" action="{% comment_form_target %}" method="POST">
                {% csrf_token %}
                {{ form.comment }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="hidden" name="next" value="{% url 'publisher:publisher_course_run_detail' object.id %}"/>
                <div class="add-comment">
                    <input type="button" value="Add comment" id="id_submit" class="btn btn-brand btn-small btn-course-add" />
                </div>
            </form>
        </div>
    </div>
{% endif %}
