{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Course Run Form" %}
{% endblock title %}

{% block content %}
    <div class="layout-full layout">
        <div class="publisher-container">
            <h4 class="hd-4">{% trans "Edit Comment" %}</h4>
            <form class="form" method="post" action="">
                {% csrf_token %}
                <fieldset class="form-group">
                    {% for field in form %}
                        {% include "publisher/form_field.html" %}
                    {% endfor %}
                </fieldset>
                <button class="btn-brand btn-base" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>

{% endblock content %}
