[run]
branch = True
data_file = .coverage
source=course_discovery
concurrency=multiprocessing
omit =
    course_discovery/settings*
    course_discovery/conf*
    course_discovery/apps/course_metadata/tests/factories.py
    course_discovery/apps/course_metadata/algolia_models.py
    course_discovery/apps/course_metadata/index.py
    *conftest.py
    *wsgi.py
    *migrations*
    *admin.py
    *static*
    *templates*
