*
!.tx
!acceptance_tests
!course_discovery
!docs
!requirements
!.bowerrc
!.eslintrc.json
!.isort.cfg
!.pep8
!api.yaml
!api-compact.yaml
!bower.json
!build.js
!gulpfile.js
!karma.conf.js
!Makefile
!manage.py
!package.json
!pylintrc
!pylintrc_tweaks
!pytest.ini
!README.rst
!requirements.txt
!webpack.config.js
