{% extends 'publisher/base.html' %}

{% load compress %}
{% load i18n %}
{% load static %}

{% block title %}
    {% if False %}
    {% trans "Edit Course" %}
    {% endif %}
{% endblock title %}

{% block css %}
    {{ block.super }}
    {% compress css %}
      <link rel="stylesheet" href="{% static 'bower_components/tinymce/skins/lightgray/content.min.css' %}" type="text/x-scss">
      <link rel="stylesheet" href="{% static 'bower_components/tinymce/skins/lightgray/skin.min.css' %}" type="text/x-scss">
    {% endcompress %}
{% endblock %}

{% block page_content %}
    {% if False %}
    <div>
        <h1 class="hd-1 emphasized">{% trans "Edit Course" as tmsg %}{{ tmsg | force_escape }}</h1>

        <div class="alert-messages">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert" aria-labelledby="alert-title-{{ message.tags }}" tabindex="-1">
                    <div><p class="alert-copy">{{ message }}</p></div>
                </div>
                {% endfor %}
            {% endif %}
            <p>
                {% trans "All required fields must be complete before this course can be sent to edX marketing for review." %}
            </p>
            <p>
                <strong>{% trans "Note:" as tmsg %}{{ tmsg | force_escape }}</strong>
                {% trans "If you edit course information after edX marketing has reviewed the course, you have to send the course for review again." as tmsg %}{{ tmsg | force_escape }}
            </p>
            <form id="frm_course_edit" class="form" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                <input id="id_history_revision" type="hidden" value="{{ history_object.id }}">
                <div class="layout-full layout">
                    <div class="course-form">
                        <div class="course-information">
                            <fieldset class="form-group grid-container grid-manual">

                                <div class="field-title">{% trans "COURSE TITLE" as tmsg %}{{ tmsg | force_escape }} <span class="required float-right">* Required for announcement</span></div>
                                <div class="row show-comparison-container">
                                    <div class="col col-6 help-text">
                                        <div id="id_title_parent" class="comparison-container">
                                            <a id="close-comparison" class="close " href="#!">x</a>
                                            <div id="id_title_comparison" class="show-comparison-data"></div>
                                        </div>
                                        <div class="row">
                                            <ul class="tabs">
                                                <li class="course-tabs active" data-tab="tab-practices">
                                                    {% trans "Best Practices" as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                                <li class="course-tabs" data-tab="tab-example">
                                                    {% trans "Examples" as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="tab-practices" class="content active">
                                            <p>{% trans "Maximum 70 characters. Recommended 50 or fewer characters." as tmsg %}{{ tmsg | force_escape }}</p>

                                            <p>{% trans "An effective course title:" as tmsg %}{{ tmsg | force_escape }}</p>
                                            <ul>
                                                <li>{% trans "Clearly indicates the course subject matter." as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "Follows search engine optimization (SEO) guidelines." as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "Targets a global audience." as tmsg %}{{ tmsg | force_escape }}</li>
                                            </ul>
                                            <p>{% trans "If the course is part of a sequence, include both sequence and course information as \"Sequence: Course\"." as tmsg %}{{ tmsg | force_escape }}</p>
                                        </div>
                                        <div id="tab-example" class="content">
                                            <p></p>
                                            <strong>{% trans "Single Courses" as tmsg %}{{ tmsg | force_escape }}</strong>
                                            <ul>
                                                <li>{% trans "English Grammar and Essay Writing" as tmsg %}{{ tmsg | force_escape }}</li>
                                            </ul>
                                            <strong>{% trans "Sequence Courses:" as tmsg %}{{ tmsg | force_escape }}</strong>
                                            <ul>
                                                <li>{% trans "Statistics: Inference" as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "Statistics: Probability" as tmsg %}{{ tmsg | force_escape }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col col-6">
                                        {% if form.organization.field.queryset.all.count > 1 %}
                                            <label class="field-label">{{ form.organization.label_tag }} <span class="required">*</span></label>
                                            {{ form.organization }}
                                        {% else %}
                                            {% with form.organization.field.queryset|first as organization %}
                                                <label id="organization-name" class="field-label"
                                                       data-org_id="{{ organization.id }}">{{ form.organization.label_tag }} <span class="required">*</span>
                                                </label>
                                                <span class="read-only-field">{{ organization.name }}</span>
                                                <input id="id_organization" name="organization" type="hidden"
                                                       value="{{ organization.id }}">
                                            {% endwith %}
                                        {% endif %}

                                        <label class="field-label">
                                            {{ form.team_admin.label_tag }} <span class="required">*</span>
                                        </label> {{ form.team_admin }}


                                        <label class="field-label ">{{ form.title.label }} <span class="required">*</span></label>
                                        <input id="id_title_revision" type="hidden" value="{{ history_object.title }}" class="history">
                                        {{ form.title }}
                                        <p>{% trans "255 character limit, including spaces." as tmsg %}{{ tmsg | force_escape }}</p>
                                        {% if form.title.errors %}
                                            <div class="field-message has-error">
                                                <span class="field-message-content">
                                                    {{ form.title.errors|escape }}
                                                </span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="field-title">{% trans "COURSE NUMBER" as tmsg %}{{ tmsg | force_escape }} <span class="required float-right">* Required for announcement</span></div>
                                <div class="row">
                                    <div class="col col-6 help-text">
                                        <div class="row">
                                            <ul class="tabs">
                                                <li class="course-tabs active" data-tab="tab-practices">
                                                    {% trans "Best Practices" as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                                <li class="course-tabs" data-tab="tab-example">
                                                    {% trans "Examples" as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="tab-practices" class="content active">
                                            <ul>
                                                <li>{% trans "Maximum 50 characters. Characters can be letters, numbers, periods, underscores or hyphens." as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "If a course consists of several modules, the course number can have an ending such as .1x or .2x." as tmsg %}{{ tmsg | force_escape }}</li>
                                            </ul>
                                        </div>
                                        <div id="tab-example" class="content">
                                            <ul>
                                                <li>{% trans "CS002x" as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "BIO1.1x, BIO1.2x" as tmsg %}{{ tmsg | force_escape }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col col-6">
                                        <label class="field-label ">{{ form.number.label_tag }} <span class="required">*</span></label>
                                        {% if has_course_run %}
                                            <span class="read-only-field">{{ course.number }}</span>
                                            <input name="number" type="hidden" value="{{ course.number }}">
                                        {% else %}
                                        {{ form.number }}
                                            {% if form.number.errors %}
                                                <div class="field-message-content">
                                                    {{ form.number.errors|escape }}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% if is_staff_user %}
                                    <div class="field-title">{% trans "URL SLUG" %} <strong>{% trans "(currently unused)" %}</strong></div>
                                    <div class="row">
                                        <div class="col col-6 help-text">
                                            <div class="row">
                                                <ul class="tabs">
                                                    <li class="course-tabs active" data-tab="tab-practices">
                                                        {% trans "Best Practices" %}
                                                    </li>
                                                    <li class="course-tabs" data-tab="tab-example">
                                                        {% trans "Examples" %}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="tab-practices" class="content active">
                                                <ul>
                                                    <li>{% trans "The default URL slug is based on the course title. This URL slug can be changed, and learners who visit an older URL will be redirected to the current URL." %}</li>
                                                    <li>
                                                        <strong>{% trans "What is a URL Slug?" %}</strong>
                                                        <p>
                                                        {% trans "In the example URL www.edx.org/course/math-101, the URL slug is “math-101.” Using URL slugs that are short and easily understandable helps learners find and remember course pages, and also drives higher rankings in search engine results" %}
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="tab-example" class="content">
                                                <ul>
                                                    <li>a-course-url</li>
                                                    <li>this-is-a-title</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col col-6">
                                            <label class="field-label ">{{ form.url_slug.label_tag }}</label>
                                            {{ form.url_slug }}
                                            {% if form.url_slug.errors %}
                                                <div class="field-message-content">
                                                    {{ form.url_slug.errors|escape }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </fieldset>
                        </div>
                        <div>
                        <div class="course-information">
                            <fieldset class="form-group grid-container grid-manual">
                                <div class="field-title">{% trans "SHORT DESCRIPTION" as tmsg %}{{ tmsg | force_escape }} <span class="required float-right">* Required for announcement</span></div>
                                <div class="row show-comparison-container">
                                    <div class="col col-6 help-text">
                                        <div id="id_short_description_parent" class="comparison-container">
                                            <a id="close-comparison" class="close " href="#!">x</a>
                                            <div id="id_short_description_comparison" class="show-comparison-data"></div>
                                        </div>
                                        <div class="row">
                                        <ul class="tabs">
                                            <li class="course-tabs active" data-tab="tab-practices">
                                                {% trans "Best Practices" as tmsg %}{{ tmsg | force_escape }}
                                            </li>
                                            <li class="course-tabs" data-tab="tab-example">
                                                {% trans "Examples" as tmsg %}{{ tmsg | force_escape }}
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="tab-practices" class="content active">
                                        <p>{% trans "An effective short description:" as tmsg %}{{ tmsg | force_escape }}</p>
                                        <ul>
                                            <li>{% trans "Contains 25–50 words." as tmsg %}{{ tmsg | force_escape }}</li>
                                            <li>{% trans "Functions as a tagline." as tmsg %}{{ tmsg | force_escape }}</li>
                                            <li>{% trans "Conveys compelling reasons to take the course." as tmsg %}{{ tmsg | force_escape }}</li>
                                            <li>{% trans "Follows SEO guidelines." as tmsg %}{{ tmsg | force_escape }}</li>
                                            <li>{% trans "Targets a global audience." as tmsg %}{{ tmsg | force_escape }}</li>
                                        </ul>
                                    </div>
                                    <div id="tab-example" class="content">
                                        <p>{% trans "The first MOOC to teach positive psychology. Learn science-based principles and practices for a happy, meaningful life." as tmsg %}{{ tmsg | force_escape }}</p>
                                    </div>
                                    </div>
                                    <div class="col col-6">
                                        <input id="id_short_description_revision" type="hidden" value="{{ history_object.short_description }}" class="history">
                                        <label class="field-label ">{{ form.short_description.label_tag }} <span class="required">*</span></label>
                                        {{ form.short_description }}
                                        <p class="recommended-text" id="id_short_description_recommended_character_limit" data-character-limit=255><span class="icon fa fa-warning"></span>{% trans "Recommended 255 character limit, including spaces." as tmsg %}{{ tmsg | force_escape }}</p>
                                    </div>
                                </div>

                                <div class="field-title">{% trans "LONG DESCRIPTION" as tmsg %}{{ tmsg | force_escape }} <span class="required float-right">* Required for announcement</span></div>
                                <div class="row show-comparison-container">
                                    <div class="col col-6 help-text">
                                        <div id="id_full_description_parent" class="comparison-container">
                                            <a id="close-comparison" class="close " href="#!">x</a>
                                            <div id="id_full_description_comparison" class="show-comparison-data"></div>
                                        </div>
                            <div class="row">
                                <ul class="tabs">
                                    <li class="course-tabs active" data-tab="tab-practices">
                                        {% trans "Best Practices" as tmsg %}{{ tmsg | force_escape }}
                                    </li>
                                    <li class="course-tabs" data-tab="tab-example">
                                        {% trans "Examples" as tmsg %}{{ tmsg | force_escape }}
                                    </li>
                                </ul>
                            </div>
                            <div id="tab-practices" class="content active">
                                <p>{% trans "An effective long description:" as tmsg %}{{ tmsg | force_escape }}</p>
                                <ul>
                                    <li>{% trans "Contains 150–300 words." as tmsg %}{{ tmsg | force_escape }}</li>
                                    <li>{% trans "Is easy to skim." as tmsg %}{{ tmsg | force_escape }}</li>
                                    <li>{% trans "Uses bullet points instead of dense text paragraphs." as tmsg %}{{ tmsg | force_escape }}</li>
                                    <li>{% trans "Follows SEO guidelines." as tmsg %}{{ tmsg | force_escape }}</li>
                                    <li>{% trans "Targets a global audience." as tmsg %}{{ tmsg | force_escape }}</li>
                                </ul>
                                <p>{% trans "The first four lines are visible when the About page opens. Learners can select \"See More\" to view the full description." as tmsg %}{{ tmsg | force_escape }}</p>
                            </div>
                            <div id="tab-example" class="content">
                                <strong>{% trans "Content-based example:" as tmsg %}{{ tmsg | force_escape }}</strong>
                                <p>{% trans "Want to learn computer programming, but unsure where to begin? This is the course for you! Scratch is the computer programming language that makes it easy and fun to create interactive stories, games and animations and share them online." as tmsg %}{{ tmsg | force_escape }}</p>
                                <p>{% trans "This course is an introduction to computer science using the programming language Scratch, developed by MIT. Starting with the basics of using Scratch, the course will stretch your mind and challenge you. You will learn how to create amazing games, animated images and songs in just minutes with a simple “drag and drop” interface." as tmsg %}{{ tmsg | force_escape }}</p>
                                <p>{% trans "No previous programming knowledge needed. Join us as you start your computer science journey." as tmsg %}{{ tmsg | force_escape }}</p>
                                <strong>{% trans "Skills-based example:" as tmsg %}{{ tmsg | force_escape }}</strong>
                                <span>{% trans "Taught by instructors with decades of experience on Wall Street, this M&A course will equip analysts and associates with the skills they need to rise to employment in the M&A field. Additionally, directors and managers who have transitioned, or hope to transition, to M&A from other areas such as equities or fixed income can use this course to eliminate skill gaps." as msg %}{{ tmsg | force_escape }}</span>
                            </div>
                        </div>
                                    <div class="col col-6">
                                        <label class="field-label ">{{ form.full_description.label_tag }} <span class="required">*</span></label>
                                        <input id="id_full_description_revision" type="hidden" value="{{ history_object.full_description }}" class="history">
                                        {{ form.full_description }}
                                        <p class="recommended-text" id="id_full_description_recommended_character_limit" data-character-limit=2500><span class="icon fa fa-warning"></span>{% trans "Recommended 2500 character limit, including spaces." as tmsg %}{{ tmsg | force_escape }}</p>
                                    </div>
                                </div>


                                <div class="field-title">{% trans "WHAT YOU WILL LEARN" as tmsg %}{{ tmsg | force_escape }} <span class="required float-right">* Required for announcement</span></div>
                                <div class="row show-comparison-container">
                                    <div class="col col-6 help-text">
                                        <div id="id_expected_learnings_parent" class="comparison-container">
                                            <a id="close-comparison" class="close " href="#!">x</a>
                                            <div id="id_expected_learnings_comparison" class="show-comparison-data"></div>
                                        </div>
                                        <div class="row">
                                            <ul class="tabs">
                                                <li class="course-tabs active" data-tab="tab-practices">
                                                    {% trans "Best Practices" as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                                <li class="course-tabs" data-tab="tab-example">
                                                    {% trans "Examples" as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="tab-practices" class="content active">
                                            <ul>
                                                <li>{% trans "The skills and knowledge learners will acquire in this course." as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "Format each item as a bullet with four to ten words." as tmsg %}{{ tmsg | force_escape }}</li>
                                            </ul>
                                        </div>
                                        <div id="tab-example" class="content">
                                            <ul>
                                                <li>{% trans "Basic R Programming" as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "An applied understanding of linear and logistic regression" as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "Application of text analytics" as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "Linear and integer optimization" as tmsg %}{{ tmsg | force_escape }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col col-6">
                                        <label class="field-label ">{{ form.expected_learnings.label_tag }} <span class="required">*</span></label>
                                        <input id="id_expected_learnings_revision" type="hidden" value="{{ history_object.expected_learnings }}" class="history">
                                        {{ form.expected_learnings }}
                                        <p class="recommended-text" id="id_expected_learnings_recommended_character_limit" data-character-limit=2500><span class="icon fa fa-warning"></span>{% trans "Recommended 2500 character limit, including spaces." as tmsg %}{{ tmsg | force_escape }}</p>
                                    </div>
                                </div>

                                <div class="field-title">{% trans "SUBJECT FIELD" as tmsg %}{{ tmsg | force_escape }} <span class="required float-right">* Required for announcement</span></div>
                                <div class="row">
                                    <div class="col col-6 help-text">
                                        <p>{% trans "The subject of the course." as tmsg %}{{ tmsg | force_escape }}</p>
                                        <p>{% trans "You can select up to two subjects in addition to the primary subject. Only the primary subject appears on the About page." as tmsg %}{{ tmsg | force_escape }}</p>
                                    </div>
                                    <div class="col col-6">
                                        <label class="field-label ">{{ form.primary_subject.label_tag }} <span class="required">*</span></label>
                                        {{ form.primary_subject }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-6 help-text">&nbsp;
                                    </div>
                                    <div class="col col-6">
                                        <label class="field-label ">{{ form.secondary_subject.label_tag }}</label>
                                        {{ form.secondary_subject }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-6 help-text">&nbsp;
                                    </div>
                                    <div class="col col-6">
                                        <label class="field-label ">{{ form.tertiary_subject.label_tag }}</label>
                                        {{ form.tertiary_subject }}
                                    </div>
                                </div>

                                <div class="field-title">{% trans "COURSE IMAGE" as tmsg %}{{ tmsg | force_escape }} <span class="required float-right">* Required for announcement</span></div>
                                <div class="row">
                                    <div class="col col-6 help-text">
                                        {% trans "An eye-catching, colorful image that captures the essence of your course." as tmsg %}{{ tmsg | force_escape }}
                                        <br/>
                                        <strong>{% trans "Course Image Guidelines:" as tmsg %}{{ tmsg | force_escape }}</strong>
                                        <ul>
                                            <li>
                                                {% trans "New course images must be 1134 X 675 pixels in size. " as tmsg %}{{ tmsg | force_escape }}
                                                <a href='http://edx.readthedocs.io/projects/edx-partner-course-staff/en/latest/set_up_course/planning_course_information/image_guidelines.html#course-image-size'>
                                                    {% trans "Learn more." as tmsg %}{{ tmsg | force_escape }}
                                                </a>
                                            </li>
                                            <li>{% trans "Each course in a sequence must have a unique image." as tmsg %}{{ tmsg | force_escape }}</li>
                                            <li>{% trans "The image cannot include text or headlines." as tmsg %}{{ tmsg | force_escape }}</li>
                                            <li>{% trans "You must have permission to use the image. Possible image sources include Flickr creative commons, Stock Vault, Stock XCHNG, and iStock Photo." as tmsg %}{{ tmsg | force_escape }}</li>
                                        </ul>
                                    </div>
                                    <div class="col col-6">
                                        <label class="field-label ">{{ form.image.label_tag }} <span class="required">*</span></label>
                                        <div class="course-image-field">
                                            {{ form.image }}
                                            <div class="image-error has-error hidden"></div>
                                            {% if form.image.errors %}
                                                <div class="field-message has-error">
                                                    <span class="field-message-content">
                                                        {{ form.image.errors|escape }}
                                                    </span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="field-title">{% trans "PREREQUISITES" as tmsg %}{{ tmsg | force_escape }} <span class="optional float-right">Optional for announcement</span></div>
                                <div class="row show-comparison-container">
                                    <div class="col col-6 help-text">
                                        <div id="id_prerequisites_parent" class="comparison-container">
                                            <a id="close-comparison" class="close " href="#!">x</a>
                                            <div id="id_prerequisites_comparison" class="show-comparison-data"></div>
                                        </div>
                                        <div class="row">
                                            <ul class="tabs">
                                                <li class="course-tabs active" data-tab="tab-practices">
                                                    {% trans "Best Practices" as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                                <li class="course-tabs" data-tab="tab-example">
                                                    {% trans "Examples" as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="tab-practices" class="content active">
                                            <ul>
                                                <li>{% trans "Recommended maximum 1000 characters." as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "Specific knowledge learners must have to be successful in the course. If the course has no prerequisites, enter \"None\"." as tmsg %}{{ tmsg | force_escape }}</li>
                                            </ul>

                                        </div>
                                        <div id="tab-example" class="content">
                                            <ul>
                                                <li>{% trans "Secondary school (high school) algebra; basic mathematics concepts" as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "Graduate-level understanding of Keynesian economics" as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "Basic algebra" as tmsg %}{{ tmsg | force_escape }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col col-6">
                                        <label class="field-label ">{{ form.prerequisites.label_tag }}</label>
                                        <input id="id_prerequisites_revision" type="hidden" value="{{ history_object.prerequisites }}" class="history">
                                        {{ form.prerequisites }}
                                        <p class="recommended-text" id="id_prerequisites_recommended_character_limit" data-character-limit=1000><span class="icon fa fa-warning"></span>{% trans "Recommended 1000 character limit, including spaces." as tmsg %}{{ tmsg | force_escape }}</p>
                                    </div>
                                </div>

                                <div class="field-title">{% trans "SYLLABUS" as tmsg %}{{ tmsg | force_escape }} <span class="optional float-right">Optional for announcement</span></div>
                                <div class="row show-comparison-container">
                                    <div class="col col-6 help-text">
                                        <div id="id_syllabus_parent" class="comparison-container">
                                            <a id="close-comparison" class="close " href="#!">x</a>
                                            <div id="id_syllabus_comparison" class="show-comparison-data"></div>
                                        </div>
                                        <div class="row">
                                            <ul class="tabs">
                                                <li class="course-tabs active" data-tab="tab-practices">
                                                    {% trans "Best Practices" as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                                <li class="course-tabs" data-tab="tab-example">
                                                    {% trans "Examples" as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="tab-practices" class="content active">
                                            <ul>
                                                <li>{% trans "A review of content covered in your course, organized by week or module." as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "Focus on topics and content." as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "Do not include detailed information about course logistics, such as grading, communication policies, and reading lists." as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "Format items as either paragraphs or a bulleted list." as tmsg %}{{ tmsg | force_escape }}</li>
                                            </ul>
                                        </div>
                                        <div id="tab-example" class="content">
                                            <ul>
                                                <li>{% trans "Week 1: From Calculator to Computer" as tmsg %}{{ tmsg | force_escape }} <br/>
                                                    {%trans "Introduction to basic programming concepts, such as values and expressions, as well as making decisions when implementing algorithms and developing programs." as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                                <li>{% trans "Week 2: State Transformation" as tmsg %}{{ tmsg | force_escape }} <br/>
                                                    {%trans "Introduction to state transformation, including representation of data and programs as well as conditional repetition." as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col col-6">
                                        <label class="field-label ">{{ form.syllabus.label_tag }}</label>
                                        <input id="id_syllabus_revision" type="hidden" value="{{ history_object.syllabus }}" class="history">
                                        {{ form.syllabus }}
                                        <p class="recommended-text" id="id_syllabus_recommended_character_limit" data-character-limit=2500><span class="icon fa fa-warning"></span>{% trans "Recommended 2500 character limit, including spaces." as tmsg %}{{ tmsg | force_escape }}</p>
                                    </div>
                                </div>

                                <div class="field-title">{% trans "LEVEL" as tmsg %}{{ tmsg | force_escape }}  <span class="required float-right">* Required for announcement</span></div>
                                <div class="row">
                                    <div class="col col-6 help-text">
                                        <ul>
                                            <li>{% trans "Introductory - No prerequisites; a learner who has completed some or all secondary school could complete the course." as tmsg %}{{ tmsg | force_escape }}</li>
                                            <li>{% trans "Intermediate - Basic prerequisites; learners need to complete secondary school or some university courses." as tmsg %}{{ tmsg | force_escape }}</li>
                                            <li>{% trans "Advanced - Significant prerequisites; the course is geared to third or fourth year university students or master's degree students." as tmsg %}{{ tmsg | force_escape }}</li>
                                        </ul>
                                    </div>
                                    <div class="col col-6 help-text">
                                        <label class="field-label ">{{ form.level_type.label_tag }} <span class="required">*</span></label>
                                        {{ form.level_type }}
                                    </div>
                                </div>

                                <div class="field-title">{{ form.faq.label }} <span class="optional float-right">Optional for announcement</span></div>
                                <div class="row show-comparison-container">
                                    <div class="col col-6 help-text">
                                        <p>{% trans "Any frequently asked questions and the answers to those questions." as tmsg %}{{ tmsg | force_escape }}</p>
                                    </div>
                                        <div id="id_faq_parent" class="comparison-container">
                                            <a id="close-comparison" class="close " href="#!">x</a>
                                            <div id="id_faq_comparison" class="show-comparison-data"></div>
                                        </div>
                                    <div class="col col-6 help-text">
                                        <label class="field-label ">{{ form.faq.label }}</label>
                                        <input id="id_faq_revision" type="hidden" value="{{ history_object.faq }}" class="history">
                                        {{ form.faq }}
                                        <p class="recommended-text" id="id_faq_recommended_character_limit" data-character-limit=2500><span class="icon fa fa-warning"></span>{% trans "Recommended 2500 character limit, including spaces." as tmsg %}{{ tmsg | force_escape }}</p>
                                    </div>
                                </div>

                                {% if is_internal_user %}
                                    <div class="field-title">{{ form.video_link.label|upper }} <span class="optional float-right">Optional for announcement</span></div>
                                    <div class="row">
                                        <div class="col col-6 help-text">
                                            <div class="row">
                                                <ul class="tabs">
                                                    <li class="course-tabs active" data-tab="tab-practices">
                                                        {% trans "Best Practices" as tmsg %}{{ tmsg | force_escape }}
                                                    </li>
                                                    <li class="course-tabs" data-tab="tab-example">
                                                        {% trans "Examples" as tmsg %}{{ tmsg | force_escape }}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="tab-practices" class="content active">
                                                <p>
                                                    {%trans "The About video should excite and entice potential students to take your course. Think of it as a movie trailer or TV show promotion. The video should be compelling, and exhibit the instructor’s personality." as tmsg%}{{ tmsg | force_escape }}<br>
                                                    {%trans "The ideal length is 30-90 seconds (learners typically watch an average of 30 seconds)." as tmsg%}{{ tmsg | force_escape }}<br>
                                                    {%trans "The About video should be produced and edited, using elements such as graphics and stock footage." as tmsg %}{{ tmsg | force_escape }}
                                                </p>
                                                <p>{% trans "The About video should answer these key questions." as tmsg %}{{ tmsg | force_escape }}</p>
                                                <ul>
                                                    <li>{% trans "Why should a learner register?" as tmsg %}{{ tmsg | force_escape }}</li>
                                                    <li>{% trans "What topics and concepts are covered?" as tmsg %}{{ tmsg | force_escape }}</li>
                                                    <li>{% trans "Who is teaching the course?" as tmsg %}{{ tmsg | force_escape }}</li>
                                                    <li>{% trans "What institution is delivering the course?" as tmsg %}{{ tmsg | force_escape }}</li>
                                                </ul>
                                                <p>{% trans "Naming specifications:" as tmsg %}{{ tmsg | force_escape }}</p>
                                                <ul>
                                                    <li>{% trans "Name: InstitutionX_CourseNumber_About.mov" as tmsg %}{{ tmsg | force_escape }}</li>
                                                    <li>{% trans "Post to:" as tmsg %}{{ tmsg | force_escape }} <a href="http://veda.edx.org/upload" target="_blank">http://veda.edx.org/upload</a></li>
                                                </ul>
                                                <p>{% trans "Technical specifications:" as tmsg %}{{ tmsg | force_escape }}</p>
                                                <ul>
                                                    <li>{% trans "Codec: H.264" as tmsg %}{{ tmsg | force_escape }}</li>
                                                    <li>{% trans "Container: .mp4" as tmsg %}{{ tmsg | force_escape }}</li>
                                                    <li>{% trans "Resolution: 1920x1080" as tmsg %}{{ tmsg | force_escape }}</li>
                                                    <li>{% trans "Frame rate: 29.97 fps" as tmsg %}{{ tmsg | force_escape }}</li>
                                                    <li>{% trans "Aspect: 1.0" as tmsg %}{{ tmsg | force_escape }}</li>
                                                    <li>{% trans "Bitrate: 5Mbps VBR" as tmsg %}{{ tmsg | force_escape }}</li>
                                                    <li>{% trans "Audio codec: AAC 44.1KHz/192 Kbps" as tmsg %}{{ tmsg | force_escape }}</li>
                                                </ul>
                                            </div>
                                            <div id="tab-example" class="content">
                                                <p>
                                                    {%trans "Visit edX’s YouTube channel for examples of other About videos:" as tmsg %}{{ tmsg | force_escape }}
                                                    <a href="www.youtube.com/user/EdXOnline" target="_blank">www.youtube.com/user/EdXOnline</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col col-6 help-text">
                                            <label class="field-label ">{{ form.video_link.label }} <span class="optional"></span></label>
                                            {{ form.video_link }}
                                        </div>
                                    </div>
                                {% else %}
                                    {{ form.video_link }}
                                {% endif %}

                                <div class="field-title">{{ form.learner_testimonial.label|upper }} <span class="optional float-right">Optional for announcement</span></div>
                                <div class="row show-comparison-container">
                                    <div class="col col-6 help-text">
                                        <div id="id_learner_testimonial_parent" class="comparison-container">
                                            <a id="close-comparison" class="close " href="#!">x</a>
                                            <div id="id_learner_testimonial_comparison" class="show-comparison-data"></div>
                                        </div>
                                        <div class="row">
                                            <ul class="tabs">
                                                <li class="course-tabs active" data-tab="tab-practices">
                                                    {% trans "Best Practices" as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                                <li class="course-tabs" data-tab="tab-example">
                                                    {% trans "Examples" as tmsg %}{{ tmsg | force_escape }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="tab-practices" class="content active">
                                            <ul>
                                                <li>{% trans "A quote from a learner in the course, demonstrating the value of taking the course." as tmsg %}{{ tmsg | force_escape }}</li>
                                                <li>{% trans "Should be no more than 25-50 words in length." as tmsg %}{{ tmsg | force_escape }}</li>
                                            </ul>
                                        </div>
                                        <div id="tab-example" class="content">
                                            <p>
                                                {%trans "“Brilliant course! It's definitely the best introduction to electronics in the world! Interesting material, clean explanations, well prepared quizzes, challenging homeworks and fun labs.” – Previous Student" as tmsg %}{{ tmsg | force_escape }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col col-6 help-text">

                                        <label class="field-label ">{{ form.learner_testimonial.label }}</label>
                                         <input id="id_learner_testimonial_revision" type="hidden" value="{{ history_object.learner_testimonial }}" class="history">
                                        {{ form.learner_testimonial }}
                                        <p class="recommended-text" id="id_learner_testimonial_recommended_character_limit" data-character-limit=500><span class="icon fa fa-warning"></span>{% trans "Recommended 500 character limit, including spaces." as tmsg %}{{ tmsg | force_escape }}</p>
                                    </div>
                                </div>

                                <div class="field-title">{{ form.additional_information.label }} <span class="optional float-right">Optional for announcement</span></div>
                                <div class="row show-comparison-container">
                                    <div class="col col-6 help-text">
                                        <p>{% trans "Any additional information to be provided to learners." as tmsg %}{{ tmsg | force_escape }}</p>
                                    </div>
                                        <div id="id_additional_information_parent" class="comparison-container">
                                            <a id="close-comparison" class="close " href="#!">x</a>
                                            <div id="id_additional_information_comparison" class="show-comparison-data"></div>
                                        </div>
                                    <div class="col col-6 help-text">
                                        <label class="field-label ">{{ form.additional_information.label }}</label>
                                        <input id="id_additional_information_revision" type="hidden" value="{{ history_object.additional_information }}" class="history">
                                        {{ form.additional_information }}
                                        <p class="recommended-text" id="id_additional_information_recommended_character_limit" data-character-limit=2500><span class="icon fa fa-warning"></span>{% trans "Recommended 2500 character limit, including spaces." as tmsg %}{{ tmsg | force_escape }}</p>
                                    </div>
                                </div>

                                {% if entitlement_form %}
                                    <div class="field-title">{% trans "CERTIFICATE TYPE AND PRICE" as tmsg %}{{ tmsg | force_escape }}</span></div>
                                    <div class="row">
                                        <div class="col col-6 help-text">
                                            <div class="row">
                                                {% trans "If the course offers a verified or professional education certificate, select the certificate type and enter the price for the certificate." as tmsg %}{{ tmsg | force_escape }}
                                            </div>
                                            <div class="row">
                                                {% trans "If you are transitioning the certificate type and price from the course run level to the course level, please be informed that this is a permanent change and you will be maintaining this information at the course level from now on." as tmsg %}{{ tmsg | force_escape }}
                                            </div>
                                        </div>
                                        <div class="col col-6">
                                            <div class="row">
                                                <div class="col col-6">
                                                    <label class="field-label ">{{ entitlement_form.mode.label_tag }}</label>
                                                    {{ entitlement_form.mode }}
                                                </div>
                                                <div id="modePriceBlock" class="col col-6 {% if entitlement_form.mode.value not in entitlement_form.PAID_MODES %}hidden{% endif %}">
                                                    <label class="field-label ">{{ entitlement_form.price.label_tag }} <span class="required">*</span></label>
                                                    {{ entitlement_form.price }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </fieldset>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="layout-full layout-no-bkg">
                    <div class="course-edit-actions">
                        <a class="btn-cancel" href="{% url 'publisher:publisher_course_detail' course.id %}">
                            {% trans "Cancel" %}
                        </a>
                        <button class="btn-brand btn-base btn-save" type="submit">{% trans "Update Course" as tmsg %}{{ tmsg | force_escape }}</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    {% else %}
        <div class="new-pub-banner-container">
            <div>Your organization has been moved over to new publisher.</div>
            {% if publisher_url %}
                <div>Please visit <a href="{{publisher_url}}">here</a>.</div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{{% block extra_js %}

    <script src="{% static 'js/publisher/course-tabs.js' %}"></script>
    <script src="{% static 'js/publisher/organizations.js' %}"></script>
    <script src="{% static 'js/publisher/entitlement-type-change.js' %}"></script>
    <script src="{% static 'js/publisher/image-validation.js' %}"></script>
    <script src="{% static 'js/publisher/course-image.js' %}"></script>
    <script src="{% static 'bower_components/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'js/publisher/tinymce-init.js' %}"></script>
    <script src="{% static 'js/publisher/tinymce-charactercount.plugin.js' %}"></script>

    <script src="{% static 'bower_components/tinymce/themes/modern/theme.min.js' %}"></script>
    <script src="{% static 'bower_components/tinymce/plugins/lists/plugin.min.js' %}"></script>
    <script src="{% static 'bower_components/tinymce/plugins/link/plugin.min.js' %}"></script>
    <script src="{% static 'bower_components/tinymce/plugins/anchor/plugin.min.js' %}"></script>
    <script src="{% static 'bower_components/tinymce/plugins/paste/plugin.min.js' %}"></script>

    <script src="{% static 'bower_components/google-diff-match-patch/diff_match_patch.js' %}"></script>
    <script src="{% static 'js/publisher/decode-html.js' %}"></script>

    <script src="{% static 'js/publisher/modal-screen.js' %}"></script>
    <script src="{% static 'js/publisher/disable-track-change-btns.js' %}"></script>

{% endblock %}


