{% extends 'publisher/base.html' %}

{% load i18n %}
{% load static %}
{% load compress %}

{% block title %}
    {% trans "Courses" %}
{% endblock title %}

{% block page_content %}
    <h2 class="hd-2 course-count-heading"
        data-publisher-total-courses-count="{{publisher_total_courses_count}}"
        data-publisher-courses="{{courses}}"
        data-publisher-courses-url="{{publisher_courses_url}}"
        data-publisher-courses-allowed-page-sizes="{{allowed_page_sizes}}"
        >{{publisher_total_courses_count}} Courses</h2>
    <a href="{% url 'publisher:publisher_courses_new' %}" class="btn btn-brand btn-small btn-course-add">
        {% trans "Create New Course" %}
    </a>
    <div class="coursesTable">
        <table id="dataTableCourse" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th role="button">
                        {% trans "Course Name" %}
                    </th>
                    <th role="button">
                        {% trans "Course Number" %}
                    </th>
                    <th role="button">
                        {% trans "Organization" %}
                    </th>
                    <th role="button">
                        {% trans "Project Coordinator" %}
                    </th>
                    <th role="button">
                        {% trans "Runs" %}
                    </th>
                    <th role="button">
                        {% trans "Course Team" %}
                    </th>
                    <th role="button">
                        {{ site_name }}
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/publisher/views/courses.js' %}"></script>
{% endblock %}
