{% extends 'publisher/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Course Detail" %}
{% endblock title %}

{% block page_content %}
        <div class="alert-messages">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert" aria-labelledby="alert-title-{{ message.tags }}"
                     tabindex="-1">
                    <div>{{ message }}</div>
                </div>
                {% endfor %}
            {% endif %}
        </div>

        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col col-6 help-text">
                <label class="field-label ">{{ form.start_id.label }}</label>
                {{ form.start_id }}
                <button class="btn-brand btn-base btn-save" type="submit">{% trans "Import COURSE" %}</button>
            </div>
        </form>
{% endblock %}
