{% load i18n %}
{% block content %}
<div class="course-information">
    <div class="info-item">
        <div class="heading">
            {% trans "Title" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">{{ course_run.title }}</div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Number" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">{{ course_run.number }}</div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Course ID" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
          {% with  course_run.lms_course_id as field %}
            {% include "publisher/_render_required_field.html" %}
          {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Subtitle" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
          {% with  course_run.short_description as field %}
            {% include "publisher/_render_required_field.html" %}
          {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Organization" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">{{ course_run.organization_key }}</div>
    </div>

    <div class="info-item">
        <div class="heading">
        {% trans "MicroMasters" as tmsg %}{{ tmsg | force_escape }}
        </div>
        <div>
        {% with  course_run.micromasters_name as field %}
            {% include "publisher/_render_optional_field.html" %}
        {% endwith %}
        </div>
    </div>

    <div class="info-item">
        <div class="heading">
            {% trans "XSeries" as tmsg %}{{ tmsg | force_escape }}
           {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% if course_run.is_xseries  %}
                {{ course_run.xseries_name }}
            {% else %}
                {% trans "(Optional) Not yet added" as tmsg %}{{ tmsg | force_escape }}
            {% endif %}
        </div>
    </div>

    <div class="info-item">
        <div class="heading">
            {% trans "Professional Certificate Name" as tmsg %}{{ tmsg | force_escape }}
        </div>
        <div>
        {% with  course_run.professional_certificate_name as field %}
            {% include "publisher/_render_optional_field.html" %}
        {% endwith %}
        </div>
    </div>

    <div class="info-item">
        <div class="heading">
            {% trans "Start Date (time in UTC)" as tmsg %}{{ tmsg | force_escape }}
           {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">{{ course_run.start_date_temporary|date:"Y-m-d" }}</div>
    </div>
    <div class="info-item">
        <div class="heading">{% trans "End Date (time in UTC)" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">{{ course_run.end_date_temporary|date:"Y-m-d" }}</div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Self Paced" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">{{ course_run.pacing_type_temporary }}</div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Staff" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div>
            {% if not course_run.course_staff %}
                {% trans "(Required) Not yet added" as tmsg %}{{ tmsg | force_escape }}
            {% else %}
                {% for obj in course_run.course_staff %}
                  <div class="course-staff">
                    <img src="{{ obj.image_url }}" alt=""/>

                    <div class="staff-detail">
                      <div class="name">
                        <a href="#" class="btn-instructor-detail"  data-staff_id="{{ obj.uuid }}">{{ obj.full_name }}</a>
                      </div>
                      <div>{{ obj.position }}</div>
                      <div class="organization">{{ obj.organization }}</div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Estimated Effort" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% if course_run.min_effort and course_run.max_effort %}
                {{ course_run.min_effort }} {% trans "to" as tmsg %}{{ tmsg | force_escape }} {{ course_run.max_effort }} {% trans "hours per week" as tmsg %}{{ tmsg | force_escape }}
            {% elif course_run.min_effort %}
                {{ course_run.min_effort }} {% trans "hours per week" as tmsg %}{{ tmsg | force_escape }}
            {% else %}
                {% with  course_run.estimated_effort as field %}
                    {% include "publisher/_render_required_field.html" %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Languages" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
          {% with  course_run.language.name as field %}
            {% include "publisher/_render_required_field.html" %}
          {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Video Transcript Languages" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
          {% with  course_run.transcript_languages as field %}
            {% include "publisher/_render_required_field.html" %}
          {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Level" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
          {% with  course_run.level_type as field %}
            {% include "publisher/_render_required_field.html" %}
          {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Full Description" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
          {% with  course_run.full_description as field %}
            {% include "publisher/_render_required_field.html" %}
          {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "What You'll Learn" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% with  course_run.expected_learnings as field %}
                {% include "publisher/_render_required_field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Course Image" as tmsg %}{{ tmsg | force_escape }}
        </div>
        <div>
            {% if course_run.course.image %}
                <img class="course-image" src="{{ course_run.course.image.url }}" alt="{% trans 'Course Image' %}">
                <div class="download-image">
                    <a download href="{{ course_run.course.image.url }}">
                        {% trans "Download" %}
                    </a>
                </div>
            {% else %}
                {% trans "(Required) Not yet added" as tmsg %}{{ tmsg | force_escape }}
            {% endif %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Prerequisites" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% with  course_run.course.prerequisites as field %}
                {% include "publisher/_render_optional_field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Keywords" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% with  course_run.keywords as field %}
                {% include "publisher/_render_optional_field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Sponsors" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% if course_run.wrapped_obj.sponsor.all %}
                {% for sponsor in course_run.wrapped_obj.sponsor.all %}
                    {{ sponsor.name }}<br>
                {% endfor %}
            {% else %}
                {% trans "(Optional) Not yet added" as tmsg %}{{ tmsg | force_escape }}
            {% endif %}
        </div>
    </div>

  <div class="info-item">
    <div class="heading">
        {% trans "Course Syllabus" as tmsg %}{{ tmsg | force_escape }}
        {% include "publisher/course_run_detail/_clipboard.html" %}
    </div>
    <div class="copy">
      {% with  course_run.syllabus as field %}
        {% include "publisher/_render_optional_field.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Primary Subject" as tmsg %}{{ tmsg | force_escape }}
    </div>
    <div>
      {% with  course_run.subjects.0 as field %}
        {% include "publisher/_render_required_field.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Additional Subject" as tmsg %}{{ tmsg | force_escape }}
    </div>
    <div>
      {% with  course_run.subjects.1 as field %}
        {% include "publisher/_render_optional_field.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Additional Subject" as tmsg %}{{ tmsg | force_escape }}
    </div>
    <div>
      {% with  course_run.subjects.2 as field %}
        {% include "publisher/_render_optional_field.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Course Length (Weeks)" as tmsg %}{{ tmsg | force_escape }}
    </div>
    <div>
      {% with  course_run.length as field %}
        {% include "publisher/_render_required_field.html" %}
      {% endwith %}
    </div>
  </div>

    <div class="info-item">
        <div class="heading">
            {% trans "Learner Testimonials" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% with  course_run.course.learner_testimonial as field %}
                {% include "publisher/_render_optional_field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "FAQ" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% with  course_run.course.faq as field %}
                {% include "publisher/_render_optional_field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Course About Video" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        {% with  course_run.course.video_link as value %}
            {% if value %}
                <a class="copy" href="{{ value }}" target="_blank">{{ value }}</a>
            {% else %}
                {% trans "(Optional) Not yet added" as tmsg %}{{ tmsg | force_escape }}
            {% endif %}
        {% endwith %}
    </div>

    <h3 class="hd-3 de-emphasized">{% trans "Enrollment Types" as tmsg %}{{ tmsg | force_escape }}</h3>
    <div class="info-item">
        <div class="heading">
            {% trans "Seats" as tmsg %}{{ tmsg | force_escape }}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
        {% if course_run.wrapped_obj.seats.all %}
            {% for seat in course_run.wrapped_obj.seats.all %}
                <span>{{ seat.type }}</span>
            {% endfor %}
        {% else %}
            {% trans "(Required) Not yet added" as tmsg %}{{ tmsg | force_escape }}
        {% endif %}
        </div>
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}
