{% load i18n %}

<div id="editCourseRun" class="modal">
    <div class="modal-content">
        <h2 class="hd-2 emphasized">
            <span class="icon fa fa-exclamation-triangle" aria-hidden="true"></span> {% trans "CAUTION" as tmsg %}{{ tmsg | force_escape }}
        </h2>
        <span class="sr-only">CAUTION</span>
        <p>
<!-- Is "tasawer" in line 12 correct? -->
            {% filter force_escape %}
                {% blocktrans trimmed with owner=course_run.course_run_state.owner_role reviewer_user='tasawer'%}
                    The {{ current_team_name }} is currently reviewing this course run. If you edit course run information, you might overwrite the team’s changes, and you will have to send the course run to the {{ team_name }} for review again.
                {% endblocktrans %}
            {% endfilter %}
        </p>
        <div class="actions">
            <a class="btn-cancel closeModal" href="#">{% trans "Cancel" as tmsg %}{{ tmsg | force_escape }}</a>
            <a class="btn-brand btn-base btn-accept" type="button" href="{% url 'publisher:publisher_course_runs_edit' course_run.id %}">{% trans "Edit" as tmsg %}{{ tmsg | force_escape }}</a>
        </div>
    </div>
</div>
