{% load i18n %}

<div id="acceptPreviewModal" class="modal">
    <div class="modal-content">
        <h2 class="hd-2 emphasized accept-preview-heading">{% trans "Accept About Page Preview" %}</h2>
        <div id="modal-errors" class="alert-messages"></div>
        <p>
            {% trans "By accepting the About page preview, you are confirming that the information for this course run in Publisher is correct." %}
        </p>
        <p>
            {% trans "Note that before edX can publish the About page for this course run, the following information for the course run must be entered in Studio." %}
        </p>
        <ul>
            <li>{% trans "The course run start and end date." %}</li>
            <li>{% trans "The course card image." %}</li>
            <li>{% trans "Names, titles, and signature images for all certificate signatories." %}</li>
        </ul>
        <div class="actions">
            <a class="btn-cancel closeModal" href="#">{% trans "Cancel" %}</a>
            <button class="btn-brand btn-base btn-accept" type="button" data-url="{% url 'publisher:api:change_course_run_state' object.course_run_state.id %}">{% trans "OK" %}</button>
        </div>
    </div>
</div>
