{% load i18n %}
{% block content %}

    <div class="course-information">
        <div class="info-item">
            <div class="heading">
                {% trans "Course Name" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ course_run.title }} </div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Organization" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ course_run.organization_name }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Number" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{  course_run.number }}</div>
        </div>

        <div class="info-item">
            <div class="heading">
                {% trans "Start Date (time in UTC)" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ course_run.start_date_temporary|date:"M d, Y, H:i:s A" }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "End Date (time in UTC)" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ course_run.end|date:"M d, Y, H:i:s A" }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Pacing Type" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ course_run.pacing_type_temporary }}</div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}
