{% load i18n %}
{% if published_count == 0 %}
    <div class="empty-courserun-text">{% trans "No About pages have been published yet." %}</div>
{% else %}
    <p>
        {% blocktrans trimmed %}
            About pages for the following course runs have been published in the past {{ default_published_days }} days.
        {% endblocktrans %}
    </p>
    <table class="data-table-published display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th role="button">
                    {% trans "Course Name" %}
                </th>
                <th role="button">
                    {% trans "Course Number" %}
                </th>
                <th role="button">
                    {% trans "Organization" %}
                </th>
                <th role="button">
                    {% trans "Start" %}
                </th>
                <th role="button">
                    {% trans "End" %}
                </th>
                <th role="button">
                    {% trans "Published Date" %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for course_run in published_course_runs %}
                <tr>
                    <td>
                        <a href="{% url 'publisher:publisher_course_run_detail' course_run.id %}">{{ course_run.title }}</a>
                    </td>
                    <td>
                        {{ course_run.number }}
                    </td>
                    <td>
                        {{ course_run.course.organization_name }}
                    </td>
                    <td>
                         {{ course_run.start|date:"Y-m-d" }}
                    </td>
                    <td>
                        {{ course_run.end|date:"Y-m-d" }}
                    </td>
                    <td>
                        {{ course_run.course_run_state.modified|date:"Y-m-d" }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
