{% extends 'publisher/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans "Course Form" %}
{% endblock title %}

{% block page_content %}
<div>
<h1 class="hd-1 emphasized">
    {% if edit_mode %}
        {% trans "Edit Course" %}
    {% else %}
        {% trans "Create New Course" %}
    {% endif %}
</h1>

<div class="alert-messages">
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" aria-labelledby="alert-title-{{ message.tags }}" tabindex="-1">
        <div><p class="alert-copy">{{ message }}</p></div>
    </div>
    {% endfor %}
{% endif %}
<p>
    {% blocktrans with strong_start='<strong>' strong_end='</strong>' trimmed %}
        To create a parent course, enter the following information about the course and select {{ strong_start }}Create New Course{{  strong_end }}.
    {% endblocktrans %}
    <strong class="required">{% trans "All of the following information is required." %}</strong>
</p>
<form class="form" method="post" action="" enctype="multipart/form-data">
{% csrf_token %}
<div class="layout-full publisher-layout layout">

    <h2 class="layout-title">{% trans "Studio Instance" %}</h2>

    <div class="card course-form">
        <div class="course-information">
            <fieldset class="form-group grid-container grid-manual">
                <div class="field-title">{% trans "COURSE TITLE" %}</div>
                <div class="row">
                    <div class="col col-6 help-text">
                        <div class="row">
                            <ul class="tabs">
                                <li class="course-tabs active" data-tab="tab-practices">
                                    {% trans "Best Practices" %}
                                </li>
                                <li class="course-tabs" data-tab="tab-example">
                                    {% trans "Examples" %}
                                </li>
                            </ul>
                        </div>
                        <div id="tab-practices" class="content active">
                            <p>{% trans "Maximum 70 characters. Recommended 50 or fewer characters." %}</p>
                            <p>{% trans "An effective course title:" %}</p>
                            <ul>
                                <li>{% trans "Clearly indicates the course subject matter." %}</li>
                                <li>{% trans "Follows search engine optimization (SEO) guidelines." %}</li>
                                <li>{% trans "Targets a global audience." %}</li>
                            </ul>
                            <p>{% trans "If the course is part of a sequence, include both sequence and course information as \"Sequence: Course\"." %}</p>
                        </div>
                        <div id="tab-example" class="content">
                            <p></p>
                            <strong>{% trans "Single Courses" %}</strong>
                            <ul>
                                <li>{% trans "English Grammar and Essay Writing" %}</li>
                            </ul>
                            <strong>{% trans "Sequence Courses:" %}</strong>
                            <ul>
                                <li>{% trans "Statistics: Inference" %}</li>
                                <li>{% trans "Statistics: Probability" %}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-6">
                        {% if edit_mode %}
                             <label class="field-label">{{ course_form.organization.label_tag }} </label>
                             <div class="field-value">
                                 {{ organization_name }}{{ course_form.organization }}</div>
                        {% else %}
                            {% if course_form.organization.field.queryset.all.count > 1 %}
                              <label class="field-label">{{ course_form.organization.label_tag }} </label>
                              {{ course_form.organization }}
                            {% else %}
                              {% with course_form.organization.field.queryset|first as organization %}
                                <label id="organization-name" class="field-label"
                                       data-org_id="{{ organization.id }}">{{ course_form.organization.label_tag }} 
                                </label>
                                <span class="read-only-field">{{ organization.name }}</span>
                                <input id="id_organization" name="organization" type="hidden" value="{{ organization.id }}">
                              {% endwith %}
                            {% endif %}
                        {% endif %}
                        <label class="field-label">
                          {{ course_form.team_admin.label_tag }} <span class="required">*</span>
                        </label>

                            <div class="field-value">
                                {% if edit_mode %}{{ team_admin_name }}{% endif %}</div>
                            {{ course_form.team_admin }}

                        <label class="field-label ">
                            {{ course_form.title.label }}  <span class="required">*</span>
                        </label> 
                            {% if edit_mode %}<div class="field-value">{{ course_form.title.value }}</div>{% endif %}
                            {{ course_form.title }}
                    </div>
                </div>

                <div class="field-title">{% trans "COURSE START DATE" %}</div>
                <div class="row">
                    <div class="col col-6 help-text">
                        <ul>
                            <li>
                                {% trans "Start on a Tuesday, Wednesday, or Thursday." %}
                            </li>
                            <li>
                                {% trans "Avoid major U.S. holidays." %}
                            </li>
                            <li>
                                {% trans "Specify a month, day, and year. If you are unsure of the exact date, specify a day that is close to the estimated start date. For example, if your course will start near the end of March, specify March 31." %}
                            </li>
                        </ul>
                    </div>
                    <div class="col col-6">
                        <label class="field-label ">{{ run_form.start.label_tag }}  <span class="required">*</span></label>
                        {{ run_form.start }}
                    </div>
                </div>


                <div class="field-title">{% trans "COURSE END DATE" %}</div>
                <div class="row">
                    <div class="col col-6 help-text">
                        {% trans "Specify a month, day, and year. If you are unsure of the exact date, specify a day that is close to the estimated end date. For example, if your course will end near the end of March, specify March 31." %}
                    </div>
                    <div class="col col-6">
                        <label class="field-label ">{{ run_form.end.label_tag }}  <span class="required">*</span></label>
                        {{ run_form.end }}
                    </div>
                </div>

                <div class="field-title">{% trans "COURSE PACING" %}</div>
                <div class="row">
                    <div class="col col-6 help-text">
                        <p>{% trans "Instructor-paced courses include individual assignments that have specific due dates before the course end date." %} </p>
                        <p>{% trans "Self-paced courses do not have individual assignments that have specific due dates before the course end date. All assignments are due on the course end date." %}</p>
                    </div>
                    <div class="col col-6">
                        <label class="field-label">{{ run_form.pacing_type.label_tag }}  <span class="required">*</span></label>
                        <div class="checkbox-inline">{{ run_form.pacing_type }}</div>
                    </div>
                </div>

                <div class="field-title">{% trans "COURSE NUMBER" %}</div>
                <div class="row">
                    <div class="col col-6 help-text">
                        <div class="row">
                            <ul class="tabs">
                                <li class="course-tabs active" data-tab="tab-practices">
                                    {% trans "Best Practices" %}
                                </li>
                                <li class="course-tabs" data-tab="tab-example">
                                    {% trans "Examples" %}
                                </li>
                            </ul>
                        </div>
                        <div id="tab-practices" class="content active">
                            <ul>
                                <li>{% trans "Maximum 10 characters. Characters can be letters, numbers, or periods." %}</li>
                                <li>{% trans "If a course consists of several modules, the course number can have an ending such as .1x or .2x." %}</li>
                            </ul>
                        </div>
                        <div id="tab-example" class="content">
                            <ul>
                                <li>{% trans "CS002x" %}</li>
                                <li>{% trans "BIO1.1x; BIO1.2x etc." %}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-6">
                        <label class="field-label ">{{ course_form.number.label_tag }}  <span class="required">*</span></label>
                        {% if edit_mode %}{{ course_form.number.value }}{% endif %}
                         {{ course_form.number }}
                    </div>
                </div>

                {% if edit_mode %}
                    <div class="field-title">{% trans "STUDIO INSTANCE" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            <p>{% trans "This is the course studio URL." %}</p>
                        </div>
                        <div class="col col-6">
                            <label class="field-label ">{{ run_form.lms_course_id.label_tag }}  <span class="required">*</span></label>
                            {{ run_form.lms_course_id }}

                            {% if not is_project_coordinator %}
                                <div class="studio-url">
                                    <span class="studio-url-heading">{% trans "STUDIO URL" %} - </span>
                                    {% if course_run.studio_url %}
                                        <a class="studio-link" href="{{ course_run.studio_url }}" target="_blank">{{ course_run.lms_course_id }}</a>
                                    {% else %}
                                        {% trans "Not yet created" %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </fieldset>
        </div>
    </div>
</div>

{% if edit_mode %}
    <div id="about-page" class="layout-full publisher-layout layout {% if publisher_hide_features_for_pilot %}hidden{% endif %}">
        <h2 class="layout-title">{% trans "About page information" %}</h2>
        <div class="card course-form">
            <div class="course-information">
                <fieldset class="form-group grid-container grid-manual">
                    <div class="field-title">{% trans "PROGRAM ASSOCIATION" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            {% trans "If this course is part of a program, select the program type and enter the name of the program." %}
                        </div>
                        <div class="col col-6">
                            <div class="row">
                                <div class="col col-5">
                                    <label class="field-label ">{{ run_form.is_micromasters.label_tag }}</label>
                                    {{ run_form.is_micromasters}}
                                </div>
                                <div class="col col-7 {% if run_form.micromasters_name %} hidden {% endif %}" id="micromasters_name_group">
                                    <label class="field-label ">{{ run_form.micromasters_name.label_tag }}</label>
                                    {{ run_form.micromasters_name }}
                                </div>
                                {% if run_form.micromasters_name.errors %}
                                <div class="field-message has-error">
                                    <span class="field-message-content">
                                        {{ run_form.micromasters_name.errors|escape }}
                                    </span>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col col-5">
                                    <label class="field-label ">{{ run_form.is_xseries.label_tag }}</label>
                                    {{ run_form.is_xseries}}
                                </div>
                                <div class="col col-7 {% if run_form.xseries_name %} hidden {% endif %}" id="xseries_name_group">
                                    <label class="field-label ">{{ run_form.xseries_name.label_tag }}</label>
                                    {{ run_form.xseries_name}}
                                </div>
                                {% if run_form.xseries_name.errors %}
                                <div class="field-message has-error">
                                    <span class="field-message-content">
                                        {{ run_form.xseries_name.errors|escape }}
                                    </span>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    <div class="field-title">{% trans "CERTIFICATE TYPE AND PRICE" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            {% trans "If the course offers a verified or professional education certificate, select the certificate type and enter the price for the certificate." %}
                        </div>
                        <div class="col col-6">
                            <div class="row">
                                <div class="col col-6">
                                    <label class="field-label ">{{ seat_form.type.label_tag }}
                                    </label> {{ seat_form.type }}
                                </div>
                                <div id="SeatPriceBlock" class="col col-6 {% if not seat_form.price.value %}hidden{% endif %}">
                                    <label class="field-label ">{{ seat_form.price.label_tag }}</label>
                                    {{ seat_form.price }}
                                </div>
                            </div>
                            {% if seat_form.price.errors %}
                                <div class="field-message has-error">
                                            <span class="field-message-content">
                                                {{ seat_form.price.errors|escape }}
                                            </span>
                                </div>
                            {% endif %}
                        </div>

                    </div>

                    <div class="field-title">{% trans "BRIEF DESCRIPTION" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            <div class="row">
                                <ul class="tabs">
                                    <li class="course-tabs active" data-tab="tab-practices">
                                        {% trans "Best Practices" %}
                                    </li>
                                    <li class="course-tabs" data-tab="tab-example">
                                        {% trans "Examples" %}
                                    </li>
                                </ul>
                            </div>
                            <div id="tab-practices" class="content active">
                                <p>{% trans "An effective short description:" %}</p>
                                <ul>
                                    <li>{% trans "Contains 25–50 words." %}</li>
                                    <li>{% trans "Functions as a tagline." %}</li>
                                    <li>{% trans "Conveys compelling reasons to take the course." %}</li>
                                    <li>{% trans "Follows SEO guidelines." %}</li>
                                    <li>{% trans "Targets a global audience." %}</li>
                                </ul>
                            </div>
                            <div id="tab-example" class="content">
                                <p>{% trans "The first MOOC to teach positive psychology. Learn science-based principles and practices for a happy, meaningful life." %}</p>
                            </div>
                        </div>
                        <div class="col col-6">
                            <label class="field-label ">{{ course_form.short_description.label_tag }}</label>
                            {{ course_form.short_description }}
                            <p>{% trans "140 character limit, including spaces." %}</p>
                        </div>
                    </div>

                    <div class="field-title">{% trans "FULL DESCRIPTION" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            <div class="row">
                                <ul class="tabs">
                                    <li class="course-tabs active" data-tab="tab-practices">
                                        {% trans "Best Practices" %}
                                    </li>
                                    <li class="course-tabs" data-tab="tab-example">
                                        {% trans "Examples" %}
                                    </li>
                                </ul>
                            </div>
                            <div id="tab-practices" class="content active">
                                <p>{% trans "An effective long description:" %}</p>
                                <ul>
                                    <li>{% trans "Contains 150–300 words." %}</li>
                                    <li>{% trans "Is easy to skim." %}</li>
                                    <li>{% trans "Uses bullet points instead of dense text paragraphs." %}</li>
                                    <li>{% trans "Follows SEO guidelines." %}</li>
                                    <li>{% trans "Targets a global audience." %}</li>
                                </ul>
                                <p>{% trans "The first four lines are visible when the About page opens. Learners can select \"See More\" to view the full description." %}</p>
                            </div>
                            <div id="tab-example" class="content">
                                <p>{% trans "Want to learn computer programming, but unsure where to begin? This is the course for you! Scratch is the computer programming language that makes it easy and fun to create interactive stories, games and animations and share them online." %}</p>
                                <p>{% trans "This course is an introduction to computer science using the programming language Scratch, developed by MIT. Starting with the basics of using Scratch, the course will stretch your mind and challenge you. You will learn how to create amazing games, animated images and songs in just minutes with a simple “drag and drop” interface." %}</p>
                                <p>{% trans "No previous programming knowledge needed. Join us as you start your computer science journey." %}</p>
                                <strong>{% trans "Skills-based example:" %}</strong>
                                <span>{% trans "Taught by instructors with decades of experience on Wall Street, this M&A course will equip analysts and associates with the skills they need to rise to employment in the M&A field. Additionally, directors and managers who have transitioned, or hope to transition, to M&A from other areas such as equities or fixed income can use this course to eliminate skill gaps." %}</span>
                            </div>
                        </div>
                        <div class="col col-6">
                            <label class="field-label ">{{ course_form.full_description.label_tag }}</label>
                            {{ course_form.full_description }}
                            <p>{% trans "2500 character limit, including spaces." %}</p>
                        </div>
                    </div>


                    <div class="field-title">{% trans "EXPECTED LEARNINGS" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            <div class="row">
                                <ul class="tabs">
                                    <li class="course-tabs active" data-tab="tab-practices">
                                        {% trans "Best Practices" %}
                                    </li>
                                    <li class="course-tabs" data-tab="tab-example">
                                        {% trans "Examples" %}
                                    </li>
                                </ul>
                            </div>
                            <div id="tab-practices" class="content active">
                                <ul>
                                    <li>{% trans "The skills and knowledge learners will acquire in this course." %}</li>
                                    <li>{% trans "Format each item as a bullet with four to ten words." %}</li>
                                </ul>
                            </div>
                            <div id="tab-example" class="content">
                                <ul>
                                    <li>{% trans "Basic R Programming" %}</li>
                                    <li>{% trans "An applied understanding of linear and logistic regression" %}</li>
                                    <li>{% trans "Application of text analytics" %}</li>
                                    <li>{% trans "Linear and integer optimization" %}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-6">
                            <label class="field-label ">{{ course_form.expected_learnings.label_tag }}</label>
                            {{ course_form.expected_learnings }}
                        </div>
                    </div>

                    <div class="field-title">{% trans "COURSE STAFF" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            {% trans "The primary instructor or instructors in the course videos." %}
                        </div>
                        <div class="col col-6 instructor-select">
                            <label class="field-label ">{{ run_form.staff.label_tag }}</label>
                            {{ run_form.staff }}
                            <div class="selected-instructor">
                              {% if publisher_add_instructor_feature %}
                                <button type="button" id="add-new-instructor">{% trans "Add New" %}<br>{% trans "Instructor" %}</button>
                              {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="field-title">{% trans "SUBJECT FIELD" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            <p>{% trans "The subject of the course." %}</p>
                            <p>{% trans "You can select up to two subjects in addition to the primary subject. Only the primary subject appears on the About page." %}</p>
                        </div>
                        <div class="col col-6">
                            <label class="field-label ">{{ course_form.primary_subject.label_tag }}</label>
                            {{ course_form.primary_subject }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-6 help-text">&nbsp;
                        </div>
                        <div class="col col-6">
                            <label class="field-label ">{{ course_form.secondary_subject.label_tag }}</label>
                            {{ course_form.secondary_subject }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-6 help-text">&nbsp;
                        </div>
                        <div class="col col-6">
                            <label class="field-label ">{{ course_form.tertiary_subject.label_tag }}</label>
                            {{ course_form.tertiary_subject }}
                        </div>
                    </div>

                    <div class="field-title">{% trans "COURSE IMAGE" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            {% trans "An eye-catching, colorful image that captures the essence of your course." %}
                            <br/>
                            <strong>{% trans "Course Image Guidelines:" %}</strong>
                            <ul>
                                <li>{% trans "The image size must be 2120 x 1192 pixels." %}</li>
                                <li>{% trans "Each course in a sequence must have a unique image." %}</li>
                                <li>{% trans "The image cannot include text or headlines." %}</li>
                                <li>{% trans "You must have permission to use the image. Possible image sources include Flickr creative commons, Stock Vault, Stock XCHNG, and iStock Photo." %}</li>
                            </ul>
                        </div>
                        <div class="col col-6">
                            <label class="field-label ">{{ course_form.image.label_tag }}</label>
                            <div class="course-image-field">{{ course_form.image }}</div>
                        </div>
                    </div>

                    <div class="field-title">{% trans "PREREQUISITES" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            <div class="row">
                                <ul class="tabs">
                                    <li class="course-tabs active" data-tab="tab-practices">
                                        {% trans "Best Practices" %}
                                    </li>
                                    <li class="course-tabs" data-tab="tab-example">
                                        {% trans "Examples" %}
                                    </li>
                                </ul>
                            </div>
                            <div id="tab-practices" class="content active">
                                <ul>
                                    <li>{% trans "Maximum 200 characters." %}</li>
                                    <li>{% trans "Specific knowledge learners must have to be successful in the course. If the course has no prerequisites, enter \"None\"." %}</li>
                                </ul>

                            </div>
                            <div id="tab-example" class="content">
                                <ul>
                                    <li>{% trans "Secondary school (high school) algebra; basic mathematics concepts" %}</li>
                                    <li>{% trans "Graduate-level understanding of Keynesian economics" %}</li>
                                    <li>{% trans "Basic algebra" %}</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col col-6">
                            <label class="field-label ">{{ course_form.prerequisites.label_tag }}</label>
                            {{ course_form.prerequisites }}
                            <p>{% trans "200 character limit, including spaces." %}</p>
                        </div>
                    </div>

                    <div class="field-title">{% trans "SYLLABUS" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            <div class="row">
                                <ul class="tabs">
                                    <li class="course-tabs active" data-tab="tab-practices">
                                        {% trans "Best Practices" %}
                                    </li>
                                    <li class="course-tabs" data-tab="tab-example">
                                        {% trans "Examples" %}
                                    </li>
                                </ul>
                            </div>
                            <div id="tab-practices" class="content active">
                                <ul>
                                    <li>{% trans "A review of content covered in your course, organized by week or module." %}</li>
                                    <li>{% trans "Focus on topics and content." %}</li>
                                    <li>{% trans "Do not include detailed information about course logistics, such as grading, communication policies, and reading lists." %}</li>
                                    <li>{% trans "Format items as either paragraphs or a bulleted list." %}</li>
                                </ul>
                            </div>
                            <div id="tab-example" class="content">
                                <ul>
                                    <li>{% trans "Week 1: From Calculator to Computer" %} <br/>
                                        {%trans "Introduction to basic programming concepts, such as values and expressions, as well as making decisions when implementing algorithms and developing programs." %}
                                    </li>
                                    <li>{% trans "Week 2: State Transformation" %} <br/>
                                        {%trans "Introduction to state transformation, including representation of data and programs as well as conditional repetition." %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-6">
                            <label class="field-label ">{{ course_form.syllabus.label_tag }}</label>
                            {{ course_form.syllabus }}
                        </div>
                    </div>

                    <div class="field-title">{% trans "ESTIMATED EFFORT" %}</div>
                    <div class="row">
                        <div class="col col-6">
                            {% trans "The number of hours per week the learner should expect to spend on the course. This may be a range." %}
                        </div>
                        <div class="col col-6">
                            <div class="row">
                                <div class="col col-6">
                                    <label class="field-label ">{% trans "Min Effort" %}</label>
                                    {{ run_form.min_effort }}
                                </div>
                                <div class="col col-6">
                                    <label class="field-label ">{% trans "Max Effort" %}</label>
                                    {{ run_form.max_effort }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field-title">{% trans "LANGUAGE(S)" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            {% trans "The languages available for videos, video transcripts, and course content other than videos and transcripts." %}
                        </div>
                        <div class="col col-6">
                            <label class="field-label ">{{ run_form.language.label_tag }}</label>
                            {{ run_form.language}}

                            <label class="field-label ">{{ run_form.transcript_languages.label_tag }}</label>
                            {{ run_form.transcript_languages}}

                            <label class="field-label ">{{ run_form.video_language.label_tag }}</label>
                            {{ run_form.video_language}}

                        </div>
                    </div>


                    <div class="field-title">{% trans "LENGTH" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            {% trans "The length of the course, in weeks, rounded to the nearest whole number." %}
                        </div>
                        <div class="col col-6">
                            <label class="field-label ">{{ run_form.length.label_tag }}</label>
                            {{ run_form.length}}
                        </div>
                    </div>

                    <div class="field-title">{% trans "LEVEL TYPE" %}</div>
                    <div class="row">
                        <div class="col col-6 help-text">
                            <ul>
                                <li>{% trans "Introductory - No prerequisites; a learner with some to all of a secondary school degree could complete the course." %}</li>
                                <li>{% trans "Intermediate - Basic prerequisites; learners need a secondary school degree or some university courses." %}</li>
                                <li>{% trans "Advanced - Significant prerequisites; the course is geared to third or fourth year university students or master's degree students." %}</li>
                            </ul>
                        </div>
                        <div class="col col-6 help-text">
                            <label class="field-label ">{{ course_form.level_type.label_tag }}</label>
                            {{ course_form.level_type }}
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
{% endif %}
<div class="layout-full layout">

    <p>{% trans "After you submit this information, an edX project coordinator creates an instance for the course as well as a course run in Studio. When the Studio instance is ready, you will receive an email notification. You can then enter course content in Studio." %}</p>
    <p>{% trans "If you have additional information for your course About page, you can enter it on the next page. You can edit this information at any time before edX publishes the course About page." %}</p>
</div>
<div class="course-form">
    <div class="course-information action-buttons">
        <a href="{% url 'publisher:publisher_courses' %}">{% trans "Cancel" %}</a>
        <button class="btn-brand btn-base" type="submit">
            {% if edit_mode %}
                {% trans "Edit Course" %}
            {% else %}
                {% trans "Create New Course" %}
            {% endif %}
        </button>
    </div>
</div>

</form>
</div>
</div>
{% if publisher_add_instructor_feature %}
    {% include "publisher/_add_instructor_popup.html" %}
{% endif %}
{% endblock %}

{% block extra_js %}
     <script src="{% static 'js/publisher/publisher.js' %}"></script>
     <script src="{% static 'js/publisher/organizations.js' %}"></script>
     <script src="{% static 'js/publisher/seat-type-change.js' %}"></script>
{% endblock %}

{% block js_without_compress %}
    {{ run_form.media }}
{% endblock %}
