{% extends 'base.html' %}

{% load compress %}
{% load i18n %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.css' %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static 'bower_components/pikaday/css/pikaday.css' %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static 'bower_components/datatables/media/css/jquery.dataTables.css' %}"
          type="text/x-scss">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'publisher/_header.html' %}
        <div class="layout-1q3q layout-flush border-top">
            <nav class="layout-col layout-col-a layout-col-menu">
                <ul class="list-divided menu-list">
                    <li class="item">
                        {% url 'publisher:publisher_dashboard' as dashboard_url %}
                        <a class="btn {% if request.path == dashboard_url %}active{% endif %}"
                           href="{{ dashboard_url }}">
                            {% trans "Dashboard" %}
                        </a>
                    </li>
                    <li class="item">
                        {% url 'publisher:publisher_courses' as courses_url %}
                        <a class="btn {% if request.path == courses_url %}active{% endif %}" href="{{ courses_url }}">
                            {% trans "Courses" %}
                        </a>
                    </li>
                </ul>
            </nav>

            

        {% if request.path == dashboard_url %}
            <main class="layout-col layout-col-b border-left layout-col-container-dashboard">
        {% else %}
            <main class="layout-col layout-col-b border-left layout-col-container">
        {% endif %}

                {% block breadcrumbs %}
                    {% include 'publisher/_breadcrumbs.html' %}
                {% endblock %}
                {% block page_content %}
                {% endblock %}
            </main>

        </div>

        {% include 'publisher/_footer.html' %}
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}

    {% compress js %}
        <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'admin/js/jquery.init.js' %}"></script>
        <script src="{% static 'bower_components/js-cookie/src/js.cookie.js' %}"></script>
        <script src="{% static 'bower_components/underscore/underscore.js' %}"></script>
        <script src="{% static 'bower_components/moment/moment.js' %}"></script>
        <script src="{% static 'bower_components/pikaday/pikaday.js' %}"></script>
        <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.js' %}"></script>
        <script src="{% static 'js/publisher/main.js' %}"></script>
        <script src="{% static 'js/publisher/views/navbar.js' %}"></script>
        <script src="{% static 'js/publisher/utils.js' %}"></script>
        <script src="{% static 'js/publisher/ajax-loading.js' %}"></script>
    {% endcompress %}

    <script type="text/javascript">
        $(document).ready(function () {
            addDatePicker();
            $.loadingSpinner();
        });
    </script>

    {% compress js %}
        {% block extra_js %}
        {% endblock %}
    {% endcompress %}

    {% block js_without_compress %}{% endblock %}
{% endblock %}
