{% extends 'publisher/base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Course Form" %}
{% endblock title %}

{% block page_content %}
    <div class="layout-full layout publisher-layout">
        <div class="publisher-container">
            <div class="course-information">
                <h4 class="hd-4">{% trans "Course Form" %}</h4>
                <form class="form" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {% for field in form %}
                            {% include "publisher/form_field.html" %}
                        {% endfor %}
                    </fieldset>
                    <a class="btn-cancel" href="{% url 'publisher:publisher_course_detail' course.id %}">{% trans "Cancel" %}</a>
                    <button class="btn-brand btn-base btn-save" type="submit">{% trans "UPDATE COURSE" %}</button>
                </form>
            </div>
            <div class="comment-container">
                {% if object.id %}
                    <a href="{% url 'publisher:publisher_course_runs_new' object.id %}" class="btn btn-neutral btn-add">
                        {% trans "Add Course Run" %}
                    </a>
                {% endif %}
                {% include 'comments/comments_list.html' %}
                {% include 'comments/add_auth_comments.html' %}
            </div>
        </div>
    </div>

{% endblock %}
