{% extends 'publisher/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {% trans "Course Form" %}
{% endblock title %}

{% block page_content %}
{% include 'alert_messages.html' %}

<div class="layout-1t2t layout-flush publisher-container course-detail">
    <main class="layout-col layout-col-b layout-col-b-custom">
        <div class="course-information">
            <div class="info-item">
                <div class="heading">
                    {% trans "Institution" %}
                </div>
                <div>{{ object.organizations.first.name }}</div>
            </div>

            <div class="info-item">
                <div class="heading">
                    {% trans "Course Team Admin" %}
                </div>
                <div>{{ object.course_team_admin.full_name }}</div>
            </div>

            <div class="info-item history-field-container">
                <div class="heading">
                    {% trans "Course Title" %}
                </div>
                <div class="current title">{{ object.title }}</div>
                <div class="show-diff"></div>
            </div>

            <div class="info-item history-field-container">
                <div class="heading">
                    {% trans "Course Number" %}
                </div>
                <div class="current number">{{ object.number }}</div>
                <div class="show-diff"></div>
            </div>

            <div class="info-item history-field-container">
                <div class="heading">
                    {% trans "Brief Description" %}
                </div>
                <div class="current short_description">{{ object.short_description }}</div>
                <div class="show-diff"></div>
            </div>

            <div class="info-item history-field-container">
                <div class="heading">
                    {% trans "Full Description" %}
                </div>
                <div class="current full_description">{{ object.full_description }}</div>
                <div class="show-diff"></div>
            </div>

            <div class="info-item history-field-container">
                <div class="heading">
                    {% trans "Expected Learnings" %}
                </div>
                <div class="current expected_learnings">{{ object.expected_learnings }}</div>
                <div class="show-diff"></div>
            </div>

            <div class="info-item history-field-container">
                <div class="heading">
                    {% trans "Primary Subject" %}
                </div>
                <div class="current primary_subject">{{ object.primary_subject }}</div>
                <div class="show-diff"></div>
            </div>

            <div class="info-item history-field-container">
                <div class="heading">
                    {% trans "Secondary Subject" %}
                </div>
                <div class="current secondary_subject">{{ object.secondary_subject }}</div>
                <div class="show-diff"></div>
            </div>

            <div class="info-item history-field-container">
                <div class="heading">
                    {% trans "Tertiary Subject" %}
                </div>
                <div class="current tertiary_subject">{{ object.tertiary_subject }}</div>
                <div class="show-diff"></div>
            </div>
            <div class="info-item">
                <div class="heading course-image-heading">
                    {% trans "Course Image" %}
                </div>
                {% if object.image %}
                    <img class="course-image" src="{{ object.image.url }}" alt="{% trans 'Course Image' %}">
                {% endif %}
            </div>
            <div class="info-item history-field-container">
                <div class="heading">
                    {% trans "Prerequisites" %}
                </div>
                <div class="current prerequisites">{{ object.prerequisites }}</div>
                <div class="show-diff"></div>
            </div>
            <div class="info-item history-field-container">
                <div class="heading">{% trans "Course Level" %}
                </div>
                <div class="current level_type">{{ object.level_type }}</div>
                <div class="show-diff"></div>
            </div>
        </div>
    </main>

    <aside class="layout-col layout-col-a layout-col-a-custom">
        {% include 'publisher/course_detail/_widgets.html' %}
    </aside>
</div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'bower_components/google-diff-match-patch/diff_match_patch.js' %}"></script>
    <script src="{% static 'js/publisher/publisher.js' %}"></script>
    <script src="{% static 'js/publisher/comparing-objects.js' %}"></script>
{% endblock %}
