{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Course Form" %}
{% endblock title %}

{% block content %}
    <div class="layout-full layout">
        <div class="card course-form">
            <h4 class="hd-4">{% trans "Course Form" %}</h4>
            <form class="form" method="post" action=""> {% csrf_token %}
                <fieldset class="form-group">
                    {% for field in form %}
                        <div class="field">
                            <label class="field-label {% if field.required %}field-required{% endif %}" for="{{ field.name }}">{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="field-message has-error">
                                    <span class="field-message-content">
                                        {{ error|escape }}
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </fieldset>
                <button class="btn-brand btn-base" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>

{% endblock content %}
