{% extends 'base.html' %}
{% load compress %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans "Revision History" %}
{% endblock title %}

{% block content %}
    <div id="title">{{ object.title }}</div>
    <div id="history-title">{{ history_object.title }}</div>
    <div id="difference-title"></div>
{% endblock %}

{% block js %}
{#    {% compress js %}#}
        <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'bower_components/google-diff-match-patch/diff_match_patch.js' %}"></script>
        <script src="{% static 'js/publisher/comparing-objects.js' %}"></script>
{#    {% endcompress %}#}
{% endblock %}
