{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Course Form" %}
{% endblock title %}

{% block content %}
    <div class="alert-messages">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" aria-labelledby="alert-title-{{ message.tags }}" tabindex="-1">
                <div class="alert-message-with-action">
                    <p class="alert-copy">
                        {{ message }}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="layout-full publisher-layout layout">
    <h2 class="layout-title">{% trans "Base information" %}</h2>

    <div class="card course-form">
        <div class="course-information">
            <h4 class="hd-4">{% trans "Course Form" %}</h4>
            <fieldset class="form-group grid-container grid-manual">
                <div class="field-title">{% trans "INSTITUTION INFORMATION" %}</div>
                <div class="row">
                    <div class="col col-6">
                        {{ object.group_institution }}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
    <div class="layout-full layout">
        <h2 class="layout-title">{% trans "Course information" %}</h2>
        <div class="card course-form">
            <div class="course-information">
                    <fieldset class="form-group">
                         <div class="field-row">
                            <div class="field-col">
                                <label class="field-label " for="title">{{ course_form.title.label }}</label>
                                {{ object.title }}
                            </div>
                        </div>
            </fieldset>
            </div>
        </div>
    </div>
{% endblock content %}
