{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% block body %}
<!-- Message Body -->
    <p>
        {% blocktrans trimmed %}
            Dear {{ recipient_name }},
        {% endblocktrans %}
    <p>
        {% blocktrans with link_start='<a href="' link_middle='">' link_end='</a>' trimmed %}
            {{ sender_team }} has reviewed the {{ link_start }}{{ page_url }}{{ link_middle }}{{ run_number }} course run{{ link_end }} of {{ course_name }} and has not added comments or suggested edits. The review for this course run is complete.
        {% endblocktrans %}
    </p>
    <p>
        {% trans "Please create a preview of the About page for this course run and enter the preview URL in Publisher." %}
    </p>
    <p>
        <b>
            {% trans "Additionally, please check the comments in Publisher for information about OFAC blocking." %}
        </b>
    </p>

    {% comment %}Translators: It's closing of mail.{% endcomment %}
    {% trans "Thanks," %}<br>
    {{ sender_name }}


{% blocktrans trimmed %}
    <p>Note: This email address is unable to receive replies. For questions or comments, contact {{ contact_us_email }}.</p>
{% endblocktrans %}

<!-- End Message Body -->
{% endblock body %}
