{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% load django_markup %}
{% block body %}
    <p>
        {% filter force_escape %}
        {% blocktrans trimmed %}
            Dear {{ recipient_name }},
        {% endblocktrans %}
        {% endfilter %}
    </p>
    <p>
        {% filter force_escape %}
        {% blocktrans trimmed with run=course_run_key.run title=course_run.course.title %}
            A preview is now available for the {{ run }} run of {{ title }}.
        {% endblocktrans %}
        {% endfilter %}
    </p>
    <p>
        {% trans "Follow these steps to move forward with publishing the course run." as tmsg %}{{ tmsg | force_escape }}
    </p>
    <p>
        <strong>
            {% filter force_escape %}
            {% blocktrans trimmed %}
                Please do not share the preview URL publicly or use it in your own advertising. The finalized
                public URL will be available after the page is fully published.
            {% endblocktrans %}
            {% endfilter %}
        </strong>
    </p>
    <ol>
        <li><a href="{{ course_run.preview_url }}">{% trans "Preview the about page" as tmsg %}{{ tmsg | force_escape }}</a></li>
        <li><a href="{{ course_run_publisher_url }}">{% trans "Submit feedback in Publisher" as tmsg %}{{ tmsg | force_escape }}</a></li>
    </ol>

    {% comment %}Translators: This is part of an email signature.{% endcomment %}
    {% trans "Thanks," as tmsg %}{{ tmsg | force_escape }}<br>
    {{ platform_name }} {{ sender_role }}

    <p>
        {% blocktrans trimmed asvar tmsg %}
            Note: This email address is unable to receive replies. For questions or comments, contact
            {link_start}{contact_us_email}{link_middle}{contact_us_email}{link_end}
        {% endblocktrans %}
        {% interpolate_html tmsg link_start='<a href="mailto:'|safe link_middle='">'|safe link_end='</a>'|safe contact_us_email=contact_us_email|safe %}
    </p>
{% endblock body %}
