{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% block body %}
<!-- Message Body -->
        <p>
            {# Translators: project_coordinator_name is a member name. #}
            {% blocktrans trimmed %}
                Dear {{ project_coordinator_name }},
            {% endblocktrans %}
        <p>
        <p>
            {% blocktrans with link_start='<a href="' link_middle='">' link_end='</a>' trimmed %}
                {{ course_team_name }} created the {{ link_start }}{{ page_url }}{{ link_middle }}{{ run_number }} course run{{ link_end }} of {{ course_title }} in Publisher on {{ date }} at {{ time }}.
            {% endblocktrans %}
        </p>
        <p>{% trans "Please create a Studio URL for this course." %}</p>

        {# Translators: It's closing of mail. #}
        <p>{% trans "Thanks," %}</p>
        <p>{% trans "The edX team" %}</p>
<!-- End Message Body -->
{% endblock body %}


