{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% block body %}
    <p>
        {% blocktrans trimmed %}
            Dear {{ recipient_name }},
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed with link_start='<a href="' link_middle='">' link_end='</a>' %}
            The {{ team_name }} has reviewed the preview for {{ link_start }}{{ page_url }}{{ link_middle }}{{ course_name }}{{ link_end }}. View the course run in Publisher for more information.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed %}
            {{ team_name }} added the following comment to this preview.
        {% endblocktrans %}
    </p>
    <p style="font-style: italic;">
        "{{ comment.comment }}"
    </p>

    <p>
        <a href="{{ page_url }}">{% trans "View comment in Publisher" %}</a>
    </p>
    <p>{% trans "The edX team" %}</p>
<!-- End Message Body -->
{% endblock body %}
