{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% block body %}
<!-- Message Body -->

    <p>
        {% comment %}Translators: course_team_name is course team member name.{% endcomment %}
        {% blocktrans trimmed %}
            Dear {{ course_team_name }},
        {% endblocktrans %}
    <p>
        {% blocktrans trimmed %}
            {{ project_coordinator_name }} has created a Studio URL for the {{ course_run }}. You can now take either of the following actions.
        {% endblocktrans %}
    </p>
    <ul>
        <li>
            <a href="{{ studio_url }}">
                {% trans "Enter course run content in Studio." %}
            </a>
        </li>
        <li>
            <a href="{{ course_run_page_url }}">
                {% trans "Continue adding About page information for this course run in Publisher." %}
            </a>
        </li>
    </ul>
    <p>
        <b>
            {% trans "Important Notes" %}
        </b>
    </p>
    <ul>
        <li>
            {% trans "Before edX can publish the About page for this course run, you must also add the following items for this course run in Studio." %}
        </li>
            <ul>
                <li>{% trans "Course start date" %}</li>
                <li>{% trans "Course end date" %}</li>
                <li>{% trans "Course image" %}</li>
                <li>{% trans "Certificate assets (including signatory names, titles, and signature images)" %}</li>
            </ul>
        <li>
            {% blocktrans with link_start='<a href="https://docs.google.com/spreadsheets/d/1phjmDNoARq4YjJoiFZc0ELumj3r04r36LEncCjN9PVk/">' link_end='</a>' trimmed %}
                EdX expects your completed {{ link_start }}MOOC Development Checklist{{ link_end }} before the course run starts.
            {% endblocktrans %}
        </li>
        <li>
            {% blocktrans with link_start='<a href="http://edx.readthedocs.io/projects/edx-partner-course-staff/en/latest/set_up_course/setting_up_student_view.html#add-a-course-about-video-to-edx-org">' link_end='</a>' trimmed %}
                If this is the first run of a course, you should upload the course About video before you submit the course for review in Publisher. For more information, see {{ link_start }}Add a Course About Video to edx.org{{ link_end }}.
            {% endblocktrans %}
        </li>
    </ul>

    {% comment %}Translators: It's closing of mail.{% endcomment %}
    {% trans "Thanks," %}<br>
    {{ project_coordinator_name }}


{% blocktrans trimmed %}
    <p>Note: This email address is unable to receive replies. For questions or comments, contact {{ contact_us_email }}.</p>
{% endblocktrans %}

<!-- End Message Body -->
{% endblock body %}
