{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% load django_markup %}
{% block body %}
    <p>
        {% filter force_escape %}
        {% blocktrans trimmed %}
            Dear {{ recipient_name }},
        {% endblocktrans %}
        {% endfilter %}
    </p>

    <p>
        {% blocktrans trimmed asvar tmsg %}
            {team_name} has declined the preview of the About page for the {run_number} course run of {course_name}. {link_start}{page_url}{link_middle}View the course run in Publisher.{link_end}
        {% endblocktrans %}
        {% interpolate_html tmsg link_start='<a href="'|safe link_middle='">'|safe link_end='</a>'|safe team_name=team_name|safe course_name=course_name|safe run_number=run_number|safe page_url=page_url|safe %}
    </p>

    <p>
        {% filter force_escape %}
        {% blocktrans trimmed %}
            {{ team_name }} added the following comment.
        {% endblocktrans %}
        {% endfilter %}
    </p>
    <p style="font-style: italic;">
        "{{ comment.comment }}"
    </p>

    {% comment %}Translators: It's closing of mail.{% endcomment %}
    {% trans "Thanks," as tmsg %}{{ tmsg | force_escape }}<br>
    {% trans "The edX team" as tmsg %}{{ tmsg | force_escape %}
<!-- End Message Body -->
{% endblock body %}
