{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% block body %}
    <p>
        {% blocktrans trimmed %}
            Dear {{ recipient_name }},
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed with link_start='<a href="' link_middle='">' link_end='</a>' %}
            {{ team_name }} has declined the preview of the About page for the {{ run_number }} course run of {{course_name}}. {{ link_start }}{{ page_url }}{{ link_middle }}View the course run in Publisher.{{ link_end }}
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed %}
            {{ team_name }} added the following comment.
        {% endblocktrans %}
    </p>
    <p style="font-style: italic;">
        "{{ comment.comment }}"
    </p>

    {% comment %}Translators: It's closing of mail.{% endcomment %}
    {% trans "Thanks," %}<br>
    {% trans "The edX team" %}
<!-- End Message Body -->
{% endblock body %}
