{% extends "publisher/email/email_base.html" %}
{% load i18n %}

{% block body %}
  <p>
    {% blocktrans trimmed with link_start='<a href="' link_middle='">' link_end='</a>' %}
      The {{ role_name }} for {{ link_start }}{{ course_url }}{{ link_middle }}{{ course_title }}{{ link_end }} has changed.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      Former {{ role_name }}: {{ former_user_name }}
    {% endblocktrans %}
    <br/>
    {% blocktrans trimmed %}
      Current {{ role_name }}: {{ current_user_name }}
    {% endblocktrans %}
  </p>
{% endblock body %}
