{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% load django_markup %}
{% block body %}
  <p>
    {% blocktrans trimmed asvar tmsg %}
      The {role_name} for {link_start}{course_url}{link_middle}{course_title}{link_end} has changed.
    {% endblocktrans %}
    {% interpolate_html tmsg link_start='<a href="'|safe link_middle='">'|safe link_end='</a>'|safe %}
  </p>

  <p>
    {% filter force_escape %}
    {% blocktrans trimmed %}
      Former {{ role_name }}: {{ former_user_name }}
    {% endblocktrans %}
    {% endfilter %}
    <br/>
    {% filter force_escape %}
    {% blocktrans trimmed %}
      Current {{ role_name }}: {{ current_user_name }}
    {% endblocktrans %}
    {% endfilter %}
  </p>
{% endblock body %}
