{% extends "publisher/email/email_base.html" %}{% load i18n %}
{% block body %}
  <!-- Message Body -->


<!-- The subject for this message should be: -->
<!-- Studio instance request: <course name> -->

  <p>
    {% trans "Dear" %} {{ edx_pc_name }},
  </p>
  <p>
    {% trans "Please create a Studio instance for the following course. After you create the Studio instance, enter the course key for that instance on the course run page in Publisher." %}
  </p>

  <ul>
    <li><a href="{{ dashboard_link }}">{{ course_name }}</a></li>
    <li>{{ insitution_name }}</li>
  </ul>

  <p>
    {% trans "Thanks," %}
    <br/>
    {{ course_team_admin_name }}
  </p>
  <!-- End Message Body -->
{% endblock body %}
