{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% block body %}
<!-- Message Body -->
    <p>
        {% blocktrans trimmed %}
            Dear {{ recipient_name }},
        {% endblocktrans %}
    <p>
        {% blocktrans with link_start='<a href="' link_middle='">' link_end='</a>' trimmed %}
            The {{ sender_team }} has reviewed the {{ link_start }}{{ page_url }}{{ link_middle }} {{ run_number }} course run{{ link_end }} of {{ course_name }}. You will receive another email when the course run preview is available for you to review.
        {% endblocktrans %}
    </p>

    {% comment %}Translators: It's closing of mail.{% endcomment %}
    {% trans "Thanks," %}<br>
    {{ sender_name }}


{% blocktrans trimmed %}
    <p>Note: This email address is unable to receive replies. For questions or comments, contact {{ contact_us_email }}.</p>
{% endblocktrans %}

<!-- End Message Body -->
{% endblock body %}
