{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% block body %}
<!-- Message Body -->
    <p>
        {% blocktrans trimmed %}
            Dear {{ publisher_role_name }},
        {% endblocktrans %}
    <p>
        {% blocktrans with link_start='<a href="' link_middle='">' link_end='</a>' trimmed %}
            {{ course_team }} has reviewed the preview of the About page for the {{ link_start }}{{ page_url }}{{ link_middle }}{{ run_number }}{{ link_end }} course run of {{ course_name }} from {{ org_name }}. You can now publish this About page.
        {% endblocktrans %}
    </p>

    {% comment %}Translators: It's closing of mail.{% endcomment %}
    {% trans "Thanks," %}<br>
    {{ course_team }}


{% blocktrans trimmed %}
    <p>Note: This email address is unable to receive replies. For questions or comments, contact {{ contact_us_email }}.</p>
{% endblocktrans %}

<!-- End Message Body -->
{% endblock body %}
