{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% block body %}
    <p>
        {% blocktrans trimmed %}
            Dear {{ recipient_name }},
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed with run=course_run_key.run title=course_run.course.title %}
            A preview is now available for the {{ run }} run of {{ title }}.
        {% endblocktrans %}
    </p>
    <p>
        {% trans "Follow these steps to move forward with publishing the course run." %}
    </p>
    <p>
        <strong>
            {% blocktrans trimmed %}
                Please do not share the preview URL publicly or use it in your own advertising. The finalized
                public URL will be available after the page is fully published.
            {% endblocktrans %}
        </strong>
    </p>
    <ol>
        <li><a href="{{ course_run.preview_url }}">{% trans "Preview the about page" %}</a></li>
        <li><a href="{{ course_run_publisher_url }}">{% trans "Submit feedback in Publisher" %}</a></li>
    </ol>

    {% comment %}Translators: This is part of an email signature.{% endcomment %}
    {% trans "Thanks," %}<br>
    {{ platform_name }} {{ sender_role }}

    <p>
        {% blocktrans trimmed %}
            Note: This email address is unable to receive replies. For questions or comments, contact
            <a href="mailto:{{ contact_us_email }}">{{ contact_us_email }}</a>.
        {% endblocktrans %}
    </p>
{% endblock body %}
