{% extends "course_metadata/email/email_base.html" %}
{% load i18n %}
{% load django_markup %}

{% block body %}
<p>
    {% trans "Hi Course Team," %}
</p>

<p>
    {% if days_to_expire == '2 days' or days_to_expire == '7 days' %}
        {% blocktrans with course_name=course_name course_key=course_key course_end_date=course_end_date days=days_to_expire %}
        This is an automated reminder that the course "{{ course_name }}" (Course Key: {{ course_key }}) is scheduled to end in {{ days }} on {{ course_end_date }}.
        {% endblocktrans %}
        <p>
            {% trans "To ensure uninterrupted learner access and enrollment, please take one of the following actions:" %}
        </p>
    {% elif days_to_expire == 'ended' %}
        {% blocktrans with course_name=course_name course_key=course_key course_end_date=course_end_date %}
        This is an automated reminder that the course "{{ course_name }}" (Course Key: {{ course_key }}) has officially ended as of {{ course_end_date }}.
        {% endblocktrans %}
        <p>
            {% trans "If this was intentional, no action is needed. However, if this course was meant to remain available, you have two options to restore access:" %}
        </p>
    {% endif %}
</p>

<ul>
    <li>{% trans "Extend the current course run’s end date if the same course is meant to remain available." %}</li>
    <li>
        {% trans "Create a new course run if you are planning to offer this course again with updated content, pacing, or a new cohort of learners." %}
        <a href="{{ publisher_url }}courses/{{ course_uuid }}"> {% trans "Visit the Course in Publisher" %} </a>
    </li>
</ul>

<p>
    {% trans "You can review and modify the course end settings here:" %} 
    <a href="{{ course_schedule_settings_url }}">{{ course_schedule_settings_url }}</a>
    <br/>
    {% if days_to_expire == 'ended' %}
        {% blocktrans with partner_marketing_site_url=partner_marketing_site_url %}
        If no action is taken, the course will no longer be available for enrollment or access by learners on 
        <a href="{{ partner_marketing_site_url }}">{{ partner_marketing_site_url }}</a> after the end date.
        {% endblocktrans %}
        <br/>
    {% endif %}
    {% trans "Thanks" %}
</p>

<!-- End Message Body -->
{% endblock body %}
