{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% block body %}
<!-- Message Body -->

<p>
    {% blocktrans trimmed %}
        Dear {{ recipient_name }},
    {% endblocktrans %}
<p>
    {% blocktrans trimmed with link_start='<a href="' link_middle='">' link_end='</a>' %}
        {{ org_name }} has submitted {{ course_key }} for review. {{ link_start }}{{ course_page_url }}{{ link_middle }}View this course run in Publisher{{ link_end }} to review the changes or make edits.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans trimmed with link_start='<a href="' link_middle='">' link_end='</a>' %}
        This is a good time to {{ link_start }}{{ studio_url }}{{ link_middle }}review this course run in Studio{{ link_end }}.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans trimmed with link_start='<a href="' link_middle='">' link_end='</a>' %}
        Visit the {{ link_start }}{{ course_approval_url }}{{ link_middle }}admin page{{ link_end }} for this course run to actually mark it as reviewed.
    {% endblocktrans %}
</p>
{% if restricted_admin_url %}
    <p>
        {% blocktrans trimmed with link_start='<a href="' link_middle='">' link_end='</a>' %}
            Visit the {{ link_start }}{{ restricted_admin_url }}{{ link_middle }}restricted course admin page{{ link_end }} to set embargo rules for this course, as needed.
        {% endblocktrans %}
    </p>
{% endif %}

<!-- End Message Body -->
{% endblock body %}
