{% extends "course_metadata/email/email_base.html" %}
{% load i18n %}
{% load django_markup %}
{% block body %}
<!-- Message Body -->

<p>
    {% filter force_escape %}
        {% blocktrans trimmed %}
            Dear {{ recipient_name }},
        {% endblocktrans %}
    {% endfilter %}
<p>
    {% blocktrans trimmed asvar tmsg  %}
        {org_name} has submitted {course_key} for review. {link_start}{course_page_url}{link_middle}View this course run in Publisher{link_end} to review the changes and mark it as reviewed.
    {% endblocktrans %}
    {% interpolate_html tmsg link_start='<a href="'|safe link_middle='">'|safe link_end='</a>'|safe course_key=course_key|safe org_name=org_name|safe course_page_url=course_page_url|safe %}
</p>
<p>
    {% blocktrans trimmed asvar tmsg %}
        This is a good time to {link_start}{studio_url}{link_middle}review this course run in Studio{link_end}.
    {% endblocktrans %}
    {% interpolate_html tmsg link_start='<a href="'|safe link_middle='">'|safe link_end='</a>'|safe studio_url=studio_url|safe %}
</p>
{% if restricted_admin_url %}
    <p>
        {% blocktrans trimmed asvar tmsg %}
            Visit the {link_start}{restricted_admin_url}{link_middle}restricted course admin page{link_end} to set embargo rules for this course, as needed.
        {% endblocktrans %}
        {% interpolate_html tmsg link_start='<a href="'|safe link_middle='">'|safe link_end='</a>'|safe restricted_admin_url=restricted_admin_url|safe %}
    </p>
{% endif %}
<!-- End Message Body -->
{% endblock body %}
