{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% block body %}
<!-- Message Body -->

<p>
    {% blocktrans trimmed %}
        Dear {{ recipient_name }},
    {% endblocktrans %}
</p>
<p>
    {% blocktrans trimmed with link_start='<a href="' link_middle='">' link_end='</a>' %}
        The {{ link_start }}{{ course_page_url }}{{ link_middle }}{{ course_run_number }} course run{{ link_end }} of {{ course_name }} has been reviewed and approved by {{ platform_name }}.
    {% endblocktrans %}

    {% if go_live_date %}
        {% blocktrans trimmed %}
            The course run about page will be published on {{ go_live_date }}, pending no further edits.
        {% endblocktrans %}
    {% else %}
        {% blocktrans trimmed %}
            The course run about page is now published.
        {% endblocktrans %}
    {% endif %}
</p>

<p>
    {% blocktrans trimmed with link_start='<a href="mailto:' link_middle='">' link_end='</a>' %}
        Note: This email address is unable to receive replies. For questions or comments, please contact {{ link_start }}{{ contact_us_email }}{{ link_middle }}your Project Coordinator{{ link_end }}.
    {% endblocktrans %}
</p>

<!-- End Message Body -->
{% endblock body %}
