.course-breadcrumb{
  padding-bottom: 20px;
  a {
    text-decoration: underline;
  }
}

.btn-cancel {
  @include padding-right(10px);
  @include padding-left(10px);
  color: #25A1D8;
}

.btn-save {
    background-color: #169BD5;
    border-color: #169BD5;
    border-radius: 5px;
    padding: 10px;
}

.btn-course-edit, .btn-courserun-edit {
    @include padding(2px, 20px, 3px, 20px);
    @include float(right);
    background-color: #169bd5;
    border-color: #169bd5;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
}

.btn-course-add {
    @include padding(4px, 20px, 4px, 20px);
    @include margin-left(12px);
    background-color: #169bd5;
    border-color: #169bd5;
    border-radius: 5px;
}

.btn-courserun-add {
    @include padding(3px, 16px, 3px, 16px);
    @include margin-left(10px);
    @include margin-right(10px);
    background-color: #169bd5;
    border-color: #169bd5;
    border-radius: 5px;
}

.select-revision {
  margin-right: 10px;
  width: 250px;
}

.btn-revision {
  @include margin-left(0);
}

.btn-accept {
    @include padding-right(30px);
    @include padding-left(30px);
    background-color: #169BD5;
    border-color: #169BD5;
    border-radius: 5px;
}

.btn-publish {
    @include padding(5px, 30px, 5px, 30px);
    @include float(right);
    background-color: #169BD5;
    border-color: #169BD5;
    border-radius: 5px;
    margin-top: 10px;
}

$btn-filter-active-color: rgba(54, 54, 54, 1);
$btn-filter-color: rgba(228, 228, 228, 1);

.btn-filter {
    @include margin-right(5px);
    border-color: $btn-filter-color;
    background: $btn-filter-color;
    padding-bottom: 5px;
    padding-top: 5px;
    color: black;

    .filter-count {
        @include padding(1px, 6px, 1px, 6px);
        @include margin-left(5px);
        background: white;
        border-radius: 4px;
        color: black;
    }

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        border-color: $btn-filter-color;
        background: $btn-filter-color;
        color: black;
    }

    &.active,
    &.is-pressed,
    &.is-active {
        border-color: $btn-filter-active-color;
        background: $btn-filter-active-color;
        color: white;
    }
}

.btn-download {
  background: transparent;
  border-color: #0075b4;
  color: #0075b4;
  padding: 6px 12px;
  border-radius: 8px;
}

.btn-add-course {
    background-color: #34495E;
    border: solid 1px #243342;
    color: #F5F9FD;
    font-size: 16px;
}

.btn-add-courserun {
    background-color: #00A0E3;
    border: solid 1px #0491CB;
    color: #F5F9FD;
    font-size: 16px;
}

.mce-history-changes button {
  color: white !important;
  border: solid 1px #454545;
  background-color: #757575;
}
