.course-breadcrumb{
  padding-bottom: 20px;
  a {
    text-decoration: underline;
  }
}

.btn-cancel {
  @include padding-right(10px);
  @include padding-left(10px);
  color: #25A1D8;
}

.btn-save {
    background-color: #169BD5;
    border-color: #169BD5;
    border-radius: 5px;
    padding: 10px;
}

.btn-course-edit, .btn-courserun-edit {
    @include padding(2px, 20px, 3px, 20px);
    @include float(right);
    background-color: #169bd5;
    border-color: #169bd5;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
}

.btn-course-add {
    @include padding(4px, 20px, 4px, 20px);
    @include margin-left(12px);
    background-color: #169bd5;
    border-color: #169bd5;
    border-radius: 5px;
}

.btn-courserun-add {
    @include padding(3px, 16px, 3px, 16px);
    @include margin-left(10px);
    background-color: #169bd5;
    border-color: #169bd5;
    border-radius: 5px;
}
