$white:				#fff;
$gray:				#474747;

$gray-border: 		#e5e5e5;

$dark-blue: 		#34495E;

$active-blue:		#00A0E3;

$light-gray: 		rgba(204, 204, 204, 1);

$gray-background: 	#ECF0F1;

$nav-active:		#243342;

$nav-color:			#dbe2e2;

$tab-default:		$gray;
$tab-border:		#DEE1E2;
