// ------------------------------
// // edX Course Discovery: Course form

.publisher-container {
  @include margin(20px, 20px, 20px, 20px);
  overflow: auto;

  .has-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}


.btn-add {
  @include margin-right(30px);
  margin-bottom: 20px;
}

.comments{
  margin: 3% auto;
  font-size: 14px;

  .align-right {
    @include text-align(right);
    margin: 3px auto;
  }
  .submitted-by {
    overflow: auto;
    @include text-align(right);
    margin-bottom: 25px;

    span {
      @include float(left);
      margin: 10px auto;
    }
  }
}

.comment-container{
  margin-top: 20px;
}
.add-comment {
  @include text-align(right);
  margin-top: 5px;
}

#id_comment {
  width:  100%;
  max-width:  100%;
  rows: 6;
}

.editable-comment {
  @include padding-left(3px);
  border: 2px solid #d3d3d3;
  padding-top: 2px;
  padding-bottom: 2px;
}

.edit-controls {
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment-save {
  margin: 2px;
}

.btn-comment, .comment-cancel, .comment-save{
  padding-bottom: 2px;
  padding-top: 2px;
}

#add-new-instructor {
    @include padding(20px, 10px, 20px, 10px);
    @include float(left);
    background: white;
    border: 2px dashed gray;
}

.modal {
    @include left(0);
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        @include padding(20px, 20px, 20px, 20px);
        background-color: #fefefe;
        margin: 5% auto;
        border: 20px solid rgba(215, 215, 215, 1);
        width: 50%;
        min-width: 380px;

        .staff-image-icon {
            cursor: pointer;
            position: relative;
            width: 150px;
            height: 150px;
            display: block;
            margin: auto;
          span{
            position: absolute;
            top: 60px;
            left: 10px;
            z-index: 0;
            font-size: 13px;
            right: 10px;
            text-align: center;
            color: #98A;
          }
          img{
            position: relative;
            z-index: 1;
          }
        }

        img.select-image {
            border: 1px dashed gray;
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }

        #staffImageSelect {
            @include left(0);
            cursor: pointer;
            outline: none;
            position: absolute;
            top: 0;
            width: 150px;
            height: 150px;
            overflow: hidden;
            opacity: 0;
            z-index: 1000;
        }

        input, textarea, select, .read-only-field {
            margin-bottom: 20px;
            display: block;
        }

        .field-label {
            font-weight: bold;
        }

        .new-instructor-heading {
            font-weight: 700;
        }

        .actions {
            @include text-align(right);
        }

        #email {
            margin-bottom: 5px;
        }

        .email-field {
            margin-bottom: 20px;
        }
    }
}

.stopScroll{
    overflow: hidden;
}

.course-edit-actions {
    @include margin-right(10px);
    @include text-align(right);
    width: 100%;
}

.error-text {
    color: #b20610;
}
