// ------------------------------
// // edX Course Discovery: Course Detail
// ------------------------------
$light-gray: rgba(204, 204, 204, 1);
// ------------------------------
// #TYPOGRAPHY
// ------------------------------
.hd-3 {
  color: #646262;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.course-detail {
    @include margin(0px, 0px, 0px, 0px);
}

.container {
    .layout-header {
        img, h1 {
            @include float(left);
            @include padding(20px, 20px, 20px, 20px);
        }

        .layout-col {

            .nav-account {
                @include padding(35px, 0px, 35px, 0px);
                @include margin-right(20px);
                @include float(right);
                width: auto;
                display: inline-block;
                position: relative;
                vertical-align: middle;

                ol {
                    margin-bottom: 0;
                }

                .wrapper-nav-sub {
                    @include right(0);
                    display: none;
                    opacity: 1.0;
                    pointer-events: auto;
                    overflow: visible;
                    height: auto;
                    position: absolute;
                    width: 340px;
                    z-index: 10000;

                    &.is-shown {
                        display: block;
                    }

                    .nav-sub {
                        border-radius: 4px;
                        box-sizing: border-box;
                        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                        position: relative;
                        width: 100%;
                        border: 1px solid #ccc;
                        background: #fff;

                        &:before {
                            @include right(20px);
                            @include margin-right(-11px);
                            border-color: rgba(178,178,178,0);
                            border-bottom-color: #ccc;
                            border-width: 11px;
                            bottom: 100%;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                        }

                        &:after {
                            @include right(20px);
                            border-color: rgba(255,255,255,0);
                            border-bottom-color: #fff;
                            border-width: 10px;
                            bottom: 100%;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            @include margin-right(-10px);
                        }

                        .nav-menu-item {
                            @include padding(20px, 20px, 20px, 20px);
                        }

                        .nav-account-signout {
                            border-top: 1px solid #ccc;

                            a {
                                @include text-align(center);
                                text-decoration: none;
                                width: 100%;
                            }
                        }

                        .on-off-text {
                            @include text-align(left);
                        }

                        .nav-email-notification {
                            .email-switch-label {
                                @include margin-right(60px);
                            }

                            .switch {
                                @include margin-right(10px);
                                position: relative;
                                display: inline-block;
                                width: 36px;
                                height: 20px;
                                vertical-align: middle;
                            }

                            .switch input {
                                display:none;
                            }

                            .slider {
                                @include left(0);
                                @include right(0);
                                position: absolute;
                                cursor: pointer;
                                top: 0;
                                bottom: 0;
                                background-color: #ccc;
                                -webkit-transition: .4s;
                                transition: .4s;
                                border-radius: 20px;
                            }

                            .slider:before {
                                @include left(2px);
                                position: absolute;
                                content: "";
                                height: 16px;
                                width: 16px;
                                bottom: 2px;
                                background-color: white;
                                -webkit-transition: .4s;
                                transition: .4s;
                                border-radius: 50%;
                            }

                            input:checked + .slider {
                                background-color: #333;
                            }

                            input:focus + .slider {
                                box-shadow: 0 0 1px #333;
                            }

                            input:checked + .slider:before {
                                -webkit-transform: translateX(16px);
                                -ms-transform: translateX(16px);
                                transform: translateX(16px);
                            }
                        }
                    }
                }

                .nav-account-user {

                    .title.is-selected {
                        box-shadow: inset 0 1px 2px 1px rgba(0,0,0,0.1);
                        border-color: #ccc;
                    }
                }

                .nav-item {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 0;

                    .title {
                        @include padding(5px, 10px, 5px, 10px);
                        color: #666;
                        margin-bottom: 0;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        max-width: 150px;

                        .fa-caret-down {
                            opacity: 0.25;
                        }

                        &:hover {
                            cursor: pointer;
                            color: #065683;
                            border-color: #ccc;

                            .label {

                                a {
                                    color: #065683;
                                }
                            }

                            .fa-caret-down {
                                opacity: 1.0;
                                color: #065683;
                            }
                        }

                        .label {

                            a {
                                color: #666;
                                font-weight: 800;
                                font-size: 18px;
                                vertical-align: baseline;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .layout, .layout-flush {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;

        .layout-col-menu {
            padding-left: 0;
            padding-right: 0;
            width: 20%;
        }

        .layout-col-container {
            width: 80%;
        }

        .menu-list {

            .item {
                border-bottom: 2px solid $white;
                margin-bottom: 0;
                padding-bottom: 0;

                a {
                    width: 100%;
                    height: 100%;
                    background: $light-gray;
                    border: 0;
                    border-radius: 0;
                    text-decoration: none;

                    &.active {
                        background: palette(primary, accent);
                        color: $white;
                    }
                }
            }
        }
    }

  .tabs {
      @include margin-left(0);
      width: 100%;
      display: inline-block;
  }

  .actions {
      margin-top: 30px;
  }

    .wrapper-footer {
        @include margin(0px, 0px, 20px, 0px);
        @include padding(20px, 20px, 20px, 20px);
        position: relative;
        width: 100%;
        border-top: 1px solid #e5e5e5;

        .primary {
            max-width: 1280px;
            min-width: 900px;
            width: 100%;
            margin: 0 auto;
            color: #333;
            font-size: 0.75rem;

            .footer-content-primary {
                display: table;
                width: 100%;
                clear: both;

                .colophon {
                    @include float(left);
                    @include margin-right(14.28571%);
                    width: 31.91489%;
                }

                .nav-peripheral {
                    @include float(right);
                    @include text-align(right);
                    width: 48.93617%;

                    .nav-item {
                        @include margin-right(20px);
                        display: inline-block;
                    }
                }
            }

            .footer-content-secondary {
                margin-top: 20px;
                display: table;
                width: 100%;
                clear: both;

                .footer-about-copyright {
                    @include float(left);
                    @include margin-right(14.28571%);
                    width: 31.91489%;
                    display: inline-block;
                    vertical-align: middle;
                }

                .footer-about-openedx {
                    @include float(right);
                    @include text-align(right);
                    display: inline-block;
                    vertical-align: middle;

                    a {
                        display: inline-block;

                        img {
                            display: block;
                            width: 120px;
                        }
                    }
                }

            }
        }
    }
}

.administration-nav {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  margin: 5px 0 5px;

  .tab-container {

    button {
      display: block;
      padding: 10px;
      color: #0ea6ec;
      @include float(left);
      margin: 0 5px;
      border: none;
      background-color: transparent;

      &.selected {
        border-bottom: 4px solid #0ea6ec;
        color: black;
      }

      &:first-child {
        @include margin-left(30px);
      }
    }
  }
}

#app {
  background: #fff;
  padding: 0 30px 30px;
}

.alert-messages .alert {
    margin-bottom: 20px;
}

.publisher-layout {
  background: rgb(242, 242, 242);
  padding: 15px;
  margin-bottom: 20px;

  .layout-title {
    font-size: 24px;
    font-weight: bold;
  }

  .course-form {
    margin: 0;
    box-shadow: none;
  }
}

input,
select {
  max-width: 100%;
}

.required {
  color: red;
  font-size: 12px;
}

.checkbox-inline {
  ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 15px;

    li {
      display: inline-block;
      @include margin-right(10px);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.course-information {
  margin-bottom: 30px;

  input, select {
    margin-bottom: 15px;
  }
  .hd-4 {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(51, 51, 51);
  }

  .field-title {
    border-bottom: 1px solid rgb(51, 51, 51);
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .field-label {
      font-weight: bold;
  }
  .course-tabs{
    list-style: none;
    @include float(left);
    @include margin-right(10px);
    padding: 10px;
    border-bottom: 3px solid #ccc;
    color: #ccc;
    text-align: center;

    &:hover{
      color: #337ab7;
      border-bottom: 3px solid #337ab7;
    }
  }
  .course-tabs.active{
    border-bottom: 3px solid #337ab7;
    color: #337ab7;
  }
  .content{
    display: none;
    p{
      margin: 0;
    }
    p:first-of-type{
      margin-bottom: 20px;
    }
  }
  .content.active{
    display: inline-block;
  }

  #number-example {
    p:first-of-type{
      margin-bottom: 0;
    }
  }

  .info-item {
    margin-bottom: 15px;

    .heading {
      font-weight: bold;
      font-size: 16px;

      .btn-copy {
        text-decoration: none;
        @include margin-left(10px);
        padding-top: 2px;
        padding-bottom: 2px;
        @include padding-left(5px);
        @include padding-right(5px);
      }
    }
  }
}

.comments-container {
  width: 50%;
  @include float(left);
}

.clearfix {

  &:after {
     content: " "; /* Older browser do not support empty content */
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
}

.btn-edit {
  @include float(right);
  @include margin-right(30px);
  @include padding-left(20px);
  @include padding-right(20px);
}

.breadcrumb {
  padding: 8px 15px;
  list-style: none;
  background: white;
  border-radius: 3px;
  padding-left: 0;
  margin: 0 0 1.25rem;

  > li {
    display: inline-block;

    a {
      display: inline-block;
      border-bottom: 1px solid transparent;
      color: #337ab7;
      text-decoration: none;
      -webkit-transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
      -moz-transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
      transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
    }

    + li:before {
      content: " / ";
      padding: 0 5px;
      color: #ccc;
    }

    &.active {
      color: #777777;
    }
  }
}


.copy-text {
  @include margin-left(5px);
}


.page-header {
  padding-top: 10px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eeeeee;

  .hd-1 {
    margin: 0;
    color: black;
    font-weight: 600;
  }
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.course-seat {
  margin-bottom: 20px;
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}


.seat-set {
  margin-bottom: 20px;

  table {
    width: 100%;
  }
}
.status-information{
  margin-bottom: 15px;
  .heading {
    font-weight: bold;
    font-size: 16px;
  }
}

.border-left {
    border-left: 1px solid;
}

.border-top {
    border-top: 1px solid;
}

.empty-courserun-text {
    padding: 100px 160px;

    p {
        padding: 0;
        margin: 0;
    }
}

.margin-top20 {
    margin-top: 20px;
}

.hidden {
    display: none;
}
