// ------------------------------
// // edX Course Discovery: Course Detail
// ------------------------------
$light-gray: rgba(204, 204, 204, 1);
// ------------------------------
// #TYPOGRAPHY
// ------------------------------
.hd-3 {
  color: #646262;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.course-detail {
    @include margin(0);
}

.container {
    .layout-header {
        img, h1 {
            padding: 20px;
            @include float(left);
        }
    }
    .layout, .layout-flush {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;

        .layout-col-menu {
            padding-left: 0;
            padding-right: 0;
        }

        .menu-list {

            .item {
                border-bottom: 2px solid $white;
                margin-bottom: 0;
                padding-bottom: 0;

                a {
                    width: 100%;
                    height: 100%;
                    background: $light-gray;
                    border: 0;
                    border-radius: 0;
                    text-decoration: none;

                    &.active {
                        background: palette(primary, accent);
                        color: $white;
                    }
                }
            }
        }
    }

  .tabs {
      width: 100%;
      display: inline-block;
  }

  .actions {
      margin-top: 30px;
  }
}

.administration-nav {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  margin: 5px 0 5px;

  .tab-container {

    button {
      display: block;
      padding: 10px;
      color: #0ea6ec;
      @include float(left);
      margin: 0 5px;
      border: none;
      background-color: transparent;

      &.selected {
        border-bottom: 4px solid #0ea6ec;
        color: black;
      }

      &:first-child {
        @include margin-left(30px);
      }
    }
  }
}

#app {
  background: #fff;
  padding: 0 30px 30px;
}

.alert-messages .alert {
    margin-bottom: 20px;
}

.publisher-layout {
  background: rgb(242, 242, 242);
  padding: 15px;
  margin-bottom: 20px;

  .layout-title {
    font-size: 24px;
    font-weight: bold;
  }

  .course-form {
    margin: 0;
    box-shadow: none;
  }
}

input,
select {
  max-width: 100%;
}

.required {
  color: red;
  font-size: 12px;
}

.checkbox-inline {
  ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 15px;

    li {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.course-information {
  margin-bottom: 30px;

  input, select {
    margin-bottom: 15px;
  }
  .hd-4 {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(51, 51, 51);
  }

  .field-title {
    border-bottom: 1px solid rgb(51, 51, 51);
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .course-tabs{
    list-style: none;
    @include float(left);
    @include margin-right(10px);
    padding: 10px;
    border-bottom: 2px solid #ccc;
    color: #ccc;
    text-align: center;

    &:hover{
      color: #337ab7;
      border-bottom: 2px solid #337ab7;
    }
  }
  .course-tabs.active{
    border-bottom: 2px solid #337ab7;
    color: #337ab7;
  }
  .content{
    display: none;
    p{
      margin: 0;
    }
    p:first-of-type{
      margin-bottom: 20px;
    }
  }
  .content.active{
    display: inline-block;
  }

  .info-item {
    margin-bottom: 15px;

    .heading {
      font-weight: bold;
      font-size: 16px;

      .btn-copy {
        text-decoration: none;
        @include margin-left(10px);
        padding-top: 2px;
        padding-bottom: 2px;
        @include padding-left(5px);
        @include padding-right(5px);
      }
    }
  }
}

.comments-container {
  width: 50%;
  @include float(left);
}

.clearfix {

  &:after {
     content: " "; /* Older browser do not support empty content */
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
}

.btn-edit {
  @include float(right);
  @include margin-right(30px);
  @include padding-left(20px);
  @include padding-right(20px);
}

.breadcrumb {
  padding: 8px 15px;
  list-style: none;
  background: white;
  border-radius: 3px;
  padding-left: 0;
  margin: 0 0 1.25rem;

  > li {
    display: inline-block;

    a {
      display: inline-block;
      border-bottom: 1px solid transparent;
      color: #337ab7;
      text-decoration: none;
      -webkit-transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
      -moz-transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
      transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
    }

    + li:before {
      content: " / ";
      padding: 0 5px;
      color: #ccc;
    }

    &.active {
      color: #777777;
    }
  }
}


.copy-text {
  @include margin-left(5px);
}


.page-header {
  padding-top: 10px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eeeeee;

  .hd-1 {
    margin: 0;
    color: black;
    font-weight: 600;
  }
}

.publisher-footer {
    padding: 20px;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.course-seat {
  margin-bottom: 20px;
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}


.seat-set {
  margin-bottom: 20px;

  table {
    width: 100%;
  }
}
.status-information{
  margin-bottom: 15px;
  .heading {
    font-weight: bold;
    font-size: 16px;
  }
}

.border-left {
    border-left: 1px solid;
}

.border-top {
    border-top: 1px solid;
}

.empty-courserun-text {
    padding: 100px 160px;

    p {
        padding: 0;
        margin: 0;
    }
}

.margin-top10 {
    margin-top: 10px;
}
