// ------------------------------
// // edX Course Discovery: Course Detail
// ------------------------------


// ------------------------------
// #TYPOGRAPHY
// ------------------------------
.hd-3 {
  color: #646262;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.container {
  width: 1170px;
  margin: auto;
  overflow: auto;

  .actions {
      margin-top: 30px;
  }
}

nav {
  border-bottom: 2px solid #cacaca;
  background-color: #f6f6f6;
  font-size: 18px;
  font-weight: 600;

  .container {

    button {
      display: block;
      padding: 10px;
      color: #0ea6ec;
      @include float(left);
      margin: 0 5px;
      border: none;
      background-color: transparent;

      &.selected {
        border-bottom: 4px solid #0ea6ec;
        color: black;
      }

      &:first-child {
        @include margin-left(30px);
      }
    }
  }
}

#app {
  background: #fff;
  padding: 0 30px 30px;
}

.alert-messages .alert {
    margin-bottom: 20px;
}

.course-information {
  margin-bottom: 30px;
  @include float(left);
  width: 50%;

  .info-item {
    margin-bottom: 15px;

    .heading {
      font-weight: bold;
      font-size: 16px;

      .btn-copy {
        text-decoration: none;
        @include margin-left(10px);
        padding-top: 2px;
        padding-bottom: 2px;
        @include padding-left(5px);
        @include padding-right(5px);
      }
    }
  }
}

.comments-container {
  width: 50%;
  @include float(left);
}

.clearfix {

  &:after {
     content: " "; /* Older browser do not support empty content */
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
}

.btn-edit {
  @include float(right);
  @include margin-right(30px);
  @include padding-left(20px);
  @include padding-right(20px);
}

.breadcrumb {
  padding: 8px 15px;
  list-style: none;
  background: white;
  border-radius: 3px;
  padding-left: 0;
  margin: 0 0 1.25rem;

  > li {
    display: inline-block;

    a {
      display: inline-block;
      border-bottom: 1px solid transparent;
      color: #337ab7;
      text-decoration: none;
      -webkit-transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
      -moz-transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
      transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
    }

    + li:before {
      content: " / ";
      padding: 0 5px;
      color: #ccc;
    }

    &.active {
      color: #777777;
    }
  }
}


.copy-text {
  @include margin-left(5px);
}


.page-header {
  padding-bottom: 9px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eeeeee;

  .hd-1 {
    margin: 0;
    color: black;
    font-weight: 600;
  }
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.course-seat {
  margin-bottom: 20px;
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}


.seat-set {
  margin-bottom: 20px;

  table {
    width: 100%;
  }
}
.status-information{
  margin-bottom: 15px;
  .heading {
    font-weight: bold;
    font-size: 16px;
  }
}
