// ------------------------------
// // edX Course Discovery: Course form

.publisher-container {
  @include margin(20px, 20px, 20px, 20px);
  overflow: auto;

  .has-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}


.btn-add {
  @include margin-right(30px);
  margin-bottom: 20px;
}

#comments dt {
  font-weight: bold;
  color: #757575;
}
