.publisher-container {
  @include margin(0, 0, 0, 0);
    @include padding-left(5px);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;

  .studio-instance-success {
       display: none;
       p.copy-meta {
           @include padding(15px, 15px, 15px, 15px);
       }
   }

  .studio-instance-error {
      margin-bottom: 20px;
  }

  .tabs {
    @include padding(0, 0, 0, 0);
    @include margin(0, 0, 0, 0);
    list-style: none;
    display: block !important;

    .tab {
      @include padding(12px, 20px, 12px, 20px);
      @include margin-right(1px);
      @include float(left);
      background: #f2f2f2;
      margin-bottom: 0 !important;
      position: relative;
      text-align: center;
      font-weight: 600;
      font-size: 15px;
      color: #949494;
      text-transform: capitalize;
      text-decoration: none;
      z-index: 999;
      border: {
        width: 2px;
        style: solid;
        color: #f2f2f2;
        bottom-width: 0;
      }

      span {
        display: block;
        margin-bottom: 8px;
        font-size: 22px;
      }

      &.is-active {
        cursor: default;
        background: white;
        color: #169bd5;
        z-index: 1001;
        border: {
          width: 2px;
          style: solid;
          color: #169bd5;
          bottom-width: 0;
        }

        &:after {
          @include right(0);
          @include left(0);
          content: '';
          height: 2px;
          background: white;
          position: absolute;
          bottom: -2px;
          z-index: 1;
        }
      }

      &:hover {
        border-color: #eee;
        background: #eee;
        color: #757575;
        cursor: pointer;

        &.is-active {
          cursor: default;
          border-color: #169bd5;
          background: white;
          color: #169bd5;
        }
      }

    }

    &:before,
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .tab-panel {
    @include padding(20px, 20px, 20px, 20px);
    display: none;
    border: 2px solid #169bd5;
    background-color: #fff;
    margin-bottom: 50px;
    outline: none;

    .title {
      margin-top: 0;
    }

    p {
      margin-top: 0;
    }

    table {

      thead {

        tr {

          td {
              @include text-align(left);
          }
        }
      }

      tr {

        td {
            @include text-align(left);
        }

        .dataTables_empty {
            text-align: center;
        }
      }
    }

    .form-group {
      @include margin(0, 0, 0, 0);

      input {
        @include padding-left(6px);
        @include padding-right(6px);
        padding-top: 0;
        padding-bottom: 0;
        height: 25px;
        border-radius: 0;
        border: 1px solid #bebebe;
        width: 50%;
        box-shadow: inset 0 1px #666;
      }

      .btn-inline {
        @include padding(3px, 20px, 3px, 20px);
        @include margin-left(6px);
        background: #169bd5;
        border-radius: 4px;
        border: none;
        height: 25px;
        color: white;

        &:hover {
          cursor: pointer;
          background: #0e8dc4;
        }
      }
    }

    .table-view {
      display: table;
      width: 100%;
      border: 0;

      .table-row {
        @include text-align(center);
        display: table-row;

        .table-col {
          @include padding(10px, 5px, 10px, 5px);
          display: table-cell;
          vertical-align: middle;
          color: #333;
          font-size: 14px;
          border: {
            width: 1px 0 0 1px;
            style: solid;
            color: #797979;
          }

          &:first-child {
            @include text-align(left);
          }
        }

        &.table-head {

          .table-col {
            background: #ccc !important;
            font-weight: bold;

            &:first-child {
              @include text-align(center);
            }
          }
        }
      }

      &.table-striped {
        .table-row {

          &:nth-child(odd) {
            .table-col {
              background: #f2f2f2;
            }
          }
        }
      }
    }

    &.is-active {
      display: block;
    }
  }
}
