.about-and-add-buttons{
  @include padding(1em, 1.5em, 1em, 1.5em);
  background: $white
}

.publisher-container {
  @include margin(0, 0, 0, 0);
  @include padding(1em, 1.5em, 1em, 1.5em);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;

  .studio-instance-success {
       display: none;
       p.copy-meta {
           @include padding(15px, 15px, 15px, 15px);
       }
   }

  .studio-instance-error {
      margin-bottom: 20px;
  }

  .filters {
      margin: 1em 0;
  }
}

.btn-filter{
  background: #e5e5e5;
  color: #646464;

  & .filter-count{
    color: #646464;
  }

  &.active{
    background: $active-blue;
    border-color: #0491CB;

      & .filter-count{
        color: #0491CB;
      }
  }

}

