.publisher-container {
  @include margin(0, 0, 0, 0);
    @include padding-left(5px);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;

  .studio-instance-success {
       display: none;
       p.copy-meta {
           @include padding(15px, 15px, 15px, 15px);
       }
   }

  .studio-instance-error {
      margin-bottom: 20px;
  }

  .filters {
      margin-bottom: 10px;
  }
}
