form.form div.layout{
  padding: 0em;
  background: none;
  &-no-bkg{
    background: none;
  }
}

fieldset{
  & > .row{
        -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.05);
        -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.05);
        box-shadow: 0 8px 6px -6px rgba(0,0,0,0.05);
  }
}


input,
select {
  max-width: 100%;
}

.required {
  color: red;
  font-size: 15px;
}

.optional {
  font-weight: normal;
  font-size: 15px;
  color: $gray;
}

.checkbox-inline {
  ul {
    @include margin-left(0);
    list-style: none;
    margin-bottom: 15px;

    li {
      display: inline-block;
      @include margin-right(10px);

      &:last-child {
        @include margin-right(0);
      }
    }
  }
}

.image-error {
  color: red;
}
