.clearfix {

  &:after {
     content: " "; /* Older browser do not support empty content */
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
}

.float-left{ 
  @include float(left); 
}
.float-right{ 
  @include float(right); 
}

.margin-top20 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.border-left {
    @include border-left(0px solid);
}

.border-top {
    border-top: 1px solid $gray-border;
}

.actions {
  margin-top: 30px;
}

