// --------
// MAIN NAV
// --------
.menu-list {

    margin-top: 0.5em;

    .item {
        border-bottom: 0px solid $white;
        margin-bottom: 0;
        padding-bottom: 0;

        a {
            color: $nav-color;
            font-size: 0.9375em;
            width: 100%;
            height: 100%;
            background: transparent;
            border: 0;
            border-radius: 0;
            text-decoration: none;

            &.active {
                background: $nav-active;
                color: $white;
            }
        }
    }
}
// --------------
// MAIN NAV (END)
// --------------

// ---------------------------------------------------
// DROPDOWN NAVIGATION FOR SIGN IN/OUT ADN PREFERENCES
// ---------------------------------------------------

.nav-account {
    @include padding(35px, 0px, 35px, 0px);
    @include margin-right(20px);
    @include float(right);
    width: auto;
    display: inline-block;
    position: relative;
    vertical-align: middle;

    ol {
        margin-bottom: 0;
    }

    .wrapper-nav-sub {
        @include right(0);
        display: none;
        opacity: 1.0;
        pointer-events: auto;
        overflow: visible;
        height: auto;
        position: absolute;
        width: 340px;
        z-index: 10000;

        &.is-shown {
            display: block;
        }

        .nav-sub {
            border-radius: 4px;
            box-sizing: border-box;
            box-shadow: 0 1px 1px rgba(0,0,0,0.1);
            position: relative;
            width: 100%;
            border: 1px solid #ccc;
            background: #fff;

            &:before {
                @include right(20px);
                @include margin-right(-11px);
                border-color: rgba(178,178,178,0);
                border-bottom-color: #ccc;
                border-width: 11px;
                bottom: 100%;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                @include right(20px);
                border-color: rgba(255,255,255,0);
                border-bottom-color: #fff;
                border-width: 10px;
                bottom: 100%;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                @include margin-right(-10px);
            }

            .nav-menu-item {
                @include padding(20px, 20px, 20px, 20px);
            }

            .nav-account-signout {
                border-top: 1px solid #ccc;

                a {
                    @include text-align(center);
                    text-decoration: none;
                    width: 100%;
                }
            }

            .on-off-text {
                @include text-align(left);
            }

            .nav-email-notification {
                .email-switch-label {
                    @include margin-right(60px);
                }

                .switch {
                    @include margin-right(10px);
                    position: relative;
                    display: inline-block;
                    width: 36px;
                    height: 20px;
                    vertical-align: middle;
                }

                .switch input {
                    display:none;
                }

                .slider {
                    @include left(0);
                    @include right(0);
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 20px;
                }

                .slider:before {
                    @include left(2px);
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    bottom: 2px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 50%;
                }

                input:checked + .slider {
                    background-color: #333;
                }

                input:focus + .slider {
                    box-shadow: 0 0 1px #333;
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(16px);
                    -ms-transform: translateX(16px);
                    transform: translateX(16px);
                }
            }
        }
    }

    .nav-account-user {

        .title.is-selected {
            box-shadow: inset 0 1px 2px 1px rgba(0,0,0,0.1);
            border-color: #ccc;
        }
    }

    .nav-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;

        .title {
            @include padding(5px, 10px, 5px, 10px);
            color: #666;
            margin-bottom: 0;
            border: 1px solid transparent;
            border-radius: 4px;
            max-width: 150px;

            .fa-caret-down {
                opacity: 0.25;
            }

            &:hover {
                cursor: pointer;
                color: #065683;
                border-color: #ccc;

                .label {

                    a {
                        color: #065683;
                    }
                }

                .fa-caret-down {
                    opacity: 1.0;
                    color: #065683;
                }
            }

            .label {

                a {
                    color: #666;
                    font-weight: 800;
                    font-size: 18px;
                    vertical-align: baseline;
                    text-decoration: none;
                }
            }
        }
    }
}//nav-account (END)

// ---------------------------------------------------------
// DROPDOWN NAVIGATION FOR SIGN IN/OUT ADN PREFERENCES (END)
// ---------------------------------------------------------

// -----------
// BREADCRUMBS
// -----------

.breadcrumb {
  @include padding(0, 0, 0, 0);
  @include margin(0, 0, 0, 0);
  list-style: none;

  > li {
    display: inline-block;

    a {
      display: inline-block;
      border-bottom: 1px solid transparent;
      color: #337ab7;
      text-decoration: none;
      -webkit-transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
      -moz-transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
      transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
    }

    + li:before {
      @include padding(0px, 5px, 0px, 5px);
      content: "\f054";
      color: #666;
      font-family: fontawesome;
    }
  }
}

// -----------------
// BREADCRUMBS (END)
// -----------------

// -----------------------------------------------------------------
// ADMINISTRATION NAV
// Used for filtering the data between jira, salesforce, studio, etc
// -----------------------------------------------------------------
.administration-nav {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  @include margin(5px, 0px, 5px, 0px);

  .tab-container {

    button {
      @include padding(5px, 5px, 5px, 5px);
      @include margin(5px, 5px, 5px, 5px);
      @include float(left);
      display: block;
      color: #0ea6ec;
      border: none;
      background-color: transparent;

      &.selected {
        border-bottom: 4px solid #0ea6ec;
        color: black;
      }
    }
  }
}
// ------------------------
// ADMINISTRATION NAV (END)
// ------------------------
