// ------------------------------
// // edX Course Discovery: Course Detail
// ------------------------------
$light-gray: rgba(204, 204, 204, 1);
// ------------------------------
// #TYPOGRAPHY
// ------------------------------
.hd-3 {
  color: #646262;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.course-detail {
    @include margin(0px, 0px, 0px, 0px);
}

.container {
    .layout-header {
        img, h1 {
            @include float(left);
            @include padding(20px, 20px, 20px, 20px);
        }

        .layout-col {

            .nav-account {
                @include padding(35px, 0px, 35px, 0px);
                @include margin-right(20px);
                @include float(right);
                width: auto;
                display: inline-block;
                position: relative;
                vertical-align: middle;

                ol {
                    margin-bottom: 0;
                }

                .wrapper-nav-sub {
                    @include right(0);
                    display: none;
                    opacity: 1.0;
                    pointer-events: auto;
                    overflow: visible;
                    height: auto;
                    position: absolute;
                    width: 340px;
                    z-index: 10000;

                    &.is-shown {
                        display: block;
                    }

                    .nav-sub {
                        border-radius: 4px;
                        box-sizing: border-box;
                        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                        position: relative;
                        width: 100%;
                        border: 1px solid #ccc;
                        background: #fff;

                        &:before {
                            @include right(20px);
                            @include margin-right(-11px);
                            border-color: rgba(178,178,178,0);
                            border-bottom-color: #ccc;
                            border-width: 11px;
                            bottom: 100%;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                        }

                        &:after {
                            @include right(20px);
                            border-color: rgba(255,255,255,0);
                            border-bottom-color: #fff;
                            border-width: 10px;
                            bottom: 100%;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            @include margin-right(-10px);
                        }

                        .nav-menu-item {
                            @include padding(20px, 20px, 20px, 20px);
                        }

                        .nav-account-signout {
                            border-top: 1px solid #ccc;

                            a {
                                @include text-align(center);
                                text-decoration: none;
                                width: 100%;
                            }
                        }

                        .on-off-text {
                            @include text-align(left);
                        }

                        .nav-email-notification {
                            .email-switch-label {
                                @include margin-right(60px);
                            }

                            .switch {
                                @include margin-right(10px);
                                position: relative;
                                display: inline-block;
                                width: 36px;
                                height: 20px;
                                vertical-align: middle;
                            }

                            .switch input {
                                display:none;
                            }

                            .slider {
                                @include left(0);
                                @include right(0);
                                position: absolute;
                                cursor: pointer;
                                top: 0;
                                bottom: 0;
                                background-color: #ccc;
                                -webkit-transition: .4s;
                                transition: .4s;
                                border-radius: 20px;
                            }

                            .slider:before {
                                @include left(2px);
                                position: absolute;
                                content: "";
                                height: 16px;
                                width: 16px;
                                bottom: 2px;
                                background-color: white;
                                -webkit-transition: .4s;
                                transition: .4s;
                                border-radius: 50%;
                            }

                            input:checked + .slider {
                                background-color: #333;
                            }

                            input:focus + .slider {
                                box-shadow: 0 0 1px #333;
                            }

                            input:checked + .slider:before {
                                -webkit-transform: translateX(16px);
                                -ms-transform: translateX(16px);
                                transform: translateX(16px);
                            }
                        }
                    }
                }

                .nav-account-user {

                    .title.is-selected {
                        box-shadow: inset 0 1px 2px 1px rgba(0,0,0,0.1);
                        border-color: #ccc;
                    }
                }

                .nav-item {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 0;

                    .title {
                        @include padding(5px, 10px, 5px, 10px);
                        color: #666;
                        margin-bottom: 0;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        max-width: 150px;

                        .fa-caret-down {
                            opacity: 0.25;
                        }

                        &:hover {
                            cursor: pointer;
                            color: #065683;
                            border-color: #ccc;

                            .label {

                                a {
                                    color: #065683;
                                }
                            }

                            .fa-caret-down {
                                opacity: 1.0;
                                color: #065683;
                            }
                        }

                        .label {

                            a {
                                color: #666;
                                font-weight: 800;
                                font-size: 18px;
                                vertical-align: baseline;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .layout, .layout-flush {
        @include margin-left(0);
        @include margin-right(0);
        max-width: 100%;

        .layout-col-menu {
            @include margin-left(0);
            @include padding-left(0);
            @include padding-right(0);
            width: 20%;
        }

        .layout-col-container {
            @include padding(20px, 20px, 20px, 20px);
            @include margin-right(0);
            width: 80%;
        }

        .menu-list {

            .item {
                border-bottom: 2px solid $white;
                margin-bottom: 0;
                padding-bottom: 0;

                a {
                    width: 100%;
                    height: 100%;
                    background: $light-gray;
                    border: 0;
                    border-radius: 0;
                    text-decoration: none;

                    &.active {
                        background: palette(primary, accent);
                        color: $white;
                    }
                }
            }
        }

        .layout-col-a-custom {
            @include margin-left(0);
            width: 50%;
        }

        .layout-col-b-custom {
            @include margin-right(0);
            width: 50%;
        }
    }

  .tabs {
      @include margin-left(0);
      width: 100%;
      display: inline-block;
  }

  .actions {
      margin-top: 30px;
  }

    .wrapper-footer {
        @include margin(0px, 0px, 20px, 0px);
        @include padding(20px, 20px, 20px, 20px);
        position: relative;
        width: 100%;
        border-top: 1px solid #e5e5e5;

        .primary {
            max-width: 1280px;
            min-width: 900px;
            width: 100%;
            margin: 0 auto;
            color: #333;
            font-size: 0.75rem;

            .footer-content-primary {
                display: table;
                width: 100%;
                clear: both;

                .colophon {
                    @include float(left);
                    @include margin-right(14.28571%);
                    width: 31.91489%;
                }

                .nav-peripheral {
                    @include float(right);
                    @include text-align(right);
                    width: 48.93617%;

                    .nav-item {
                        @include margin-right(20px);
                        display: inline-block;
                    }
                }
            }

            .footer-content-secondary {
                margin-top: 20px;
                display: table;
                width: 100%;
                clear: both;

                .footer-about-copyright {
                    @include float(left);
                    @include margin-right(14.28571%);
                    width: 31.91489%;
                    display: inline-block;
                    vertical-align: middle;
                }

                .footer-about-openedx {
                    @include float(right);
                    @include text-align(right);
                    display: inline-block;
                    vertical-align: middle;

                    a {
                        display: inline-block;

                        img {
                            display: block;
                            width: 120px;
                        }
                    }
                }

            }
        }
    }
}

.administration-nav {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  @include margin(5px, 0px, 5px, 0px);

  .tab-container {

    button {
      @include padding(5px, 5px, 5px, 5px);
      @include margin(5px, 5px, 5px, 5px);
      @include float(left);
      display: block;
      color: #0ea6ec;
      border: none;
      background-color: transparent;

      &.selected {
        border-bottom: 4px solid #0ea6ec;
        color: black;
      }
    }
  }
}

#app {
  background: #fff;
}

.alert-messages .alert {
    margin-bottom: 20px;
}

.publisher-layout {
  @include padding(15px, 15px, 15px, 15px);
  background: rgb(242, 242, 242);
  margin-bottom: 20px;

  .layout-title {
    font-size: 24px;
    font-weight: bold;
  }

  .course-form {
    @include margin(0px, 0px, 0px, 0px);
    box-shadow: none;
  }
  .input-checkbox{
    &.has-error{
      border-radius: 100%;
      box-shadow: 0px 1px 0px 2px red;
    }
  }
}

input,
select {
  max-width: 100%;
}

.required {
  color: red;
  font-size: 12px;
}

.optional {
  font-weight: normal;
}

.checkbox-inline {
  ul {
    @include margin-left(0);
    list-style: none;
    margin-bottom: 15px;

    li {
      display: inline-block;
      @include margin-right(10px);

      &:last-child {
        @include margin-right(0);
      }
    }
  }
}

.course-information {
  margin-bottom: 30px;

  input, select {
    margin-bottom: 15px;
  }

  .read-only-field {
    margin-bottom: 15px;
    display: block;
  }

  .hd-4 {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(51, 51, 51);
  }

  .field-title {
    border-bottom: 1px solid rgb(51, 51, 51);
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .field-label {
      font-weight: bold;
  }
  .field-value {
    margin-bottom: 20px;
  }
  .help-text {
      p {
        margin-bottom: 0;
      }
  }
  .course-tabs{
    @include float(left);
    @include margin-right(10px);
    @include padding(10px, 10px, 10px, 10px);
    list-style: none;
    border-bottom: 3px solid #ccc;
    color: #ccc;
    cursor: pointer;
    text-align: center;

    &:hover{
      color: #337ab7;
      border-bottom: 3px solid #337ab7;
    }
  }
  .course-tabs.active{
    border-bottom: 3px solid #337ab7;
    color: #337ab7;
  }
  .content{
    display: none;
    p{
        @include margin(0px, 0px, 0px, 0px);
    }
    p:first-of-type{
      margin-bottom: 20px;
    }
  }
  .content.active{
    display: inline-block;
  }

  #number-example {
    p:first-of-type{
      margin-bottom: 0;
    }
  }

  .info-item {
    margin-bottom: 20px;

    .heading {
      font-weight: bold;
      font-size: 16px;

      .btn-copy {
        @include margin-left(10px);
        @include padding-left(5px);
        @include padding-right(5px);
        text-decoration: none;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
  }

    textarea {
        width: 100%;
    }
}

.comments-container {
  width: 50%;
  @include float(left);
}

.clearfix {

  &:after {
     content: " "; /* Older browser do not support empty content */
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
}

.btn-edit {
  @include float(right);
  @include margin-right(30px);
  @include padding-left(20px);
  @include padding-right(20px);
}

.breadcrumb {
  @include padding(8px, 5px, 8px, 5px);
  @include margin(0, 0, 0, 0);
  list-style: none;
  background: white;
  border-radius: 3px;

  > li {
    display: inline-block;

    a {
      display: inline-block;
      border-bottom: 1px solid transparent;
      color: #337ab7;
      text-decoration: none;
      -webkit-transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
      -moz-transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
      transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s;
    }

    + li:before {
      @include padding(0px, 5px, 0px, 5px);
      content: "\f054";
      color: #666;
      font-family: fontawesome;
    }
  }
}


.copy-text {
  @include margin-left(5px);
}


.page-header {
  @include margin(0, 0, 20px, 0);
  padding-top: 10px;
  border-bottom: 1px solid #eeeeee;

  .hd-1 {
    @include margin(0, 0, 0, 0);
    color: black;
    font-weight: 600;
  }
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.course-seat {
  margin-bottom: 20px;
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}


.seat-set {
  margin-bottom: 20px;

  table {
    width: 100%;
  }
}
.status-information{
  margin-bottom: 15px;
  .heading {
    font-weight: bold;
    font-size: 16px;
  }
}

.border-left {
    @include border-left(1px solid);
}

.border-top {
    border-top: 1px solid;
}

.empty-courserun-text {
    @include padding(100px, 160px, 100px, 160px);

    p {
        @include padding(0px, 0px, 0px, 0px);
        @include margin(0px, 0px, 0px, 0px);
    }
}

.margin-top20 {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.approval-widget, .course-widgets {

    .btn-course-edit, .btn-courserun-edit {
        @include padding(2px, 20px, 3px, 20px);
        @include float(right);
        font-weight: 400;
        font-size: 14px;
        background: white;
        border-color: black;
        border-radius: 5px;

        &:hover, &:focus {
            border-color: #065683;
            background: #065683;
            color: #f2f8fb;
        }
    }

    .role-heading {
        color: #999999;
    }

    .role-assignment-container {

        .field-readonly {
            @include margin-right(10px);
        }

        .change-role-container {
            display: none;

            .select-users-by-role {
                @include margin-right(20px);
            }

            .btn-change-assignment {
                @include padding(2px, 10px, 3px, 10px);
                font-weight: 400;
                font-size: 14px;
                background: white;
                border-radius: 5px;

                &:hover, &:focus {
                    border-color: #065683;
                    background: #065683;
                    color: #f2f8fb;
                }
            }

        }
    }
}

.btn-course-edit, .btn-courserun-edit {
    @include padding(2px, 20px, 3px, 20px);
    @include float(right);
    background-color: #169bd5;
    border-color: #169bd5;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
}

.btn-course-add {
    @include padding(4px, 20px, 4px, 20px);
    @include margin-left(12px);
    background-color: #169bd5;
    border-color: #169bd5;
    border-radius: 5px;
}

.btn-courserun-add {
    @include padding(3px, 16px, 3px, 16px);
    @include margin-left(10px);
    background-color: #169bd5;
    border-color: #169bd5;
    border-radius: 5px;
}

.course-count-heading {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
}

.course-runs-heading {
    display: inline-block;
}

.coursesTable {
    @include padding(20px, 20px, 20px, 20px);
    border: 2px solid #169bd5;
}

#id_organization {
  width: auto;
}

.course-breadcrumb {
  padding-bottom: 20px;

  a {
    text-decoration: underline;
  }
}

.btn-cancel {
  padding-right: 10px;
  padding-left: 10px;
  color: #25A1D8;
}

.btn-save {
    background-color: #169BD5;
    border-color: #169BD5;
    border-radius: 5px;
    padding: 10px;
}

.course-run-list {

    .layout-reversed.course-run-item {
        margin-bottom: 5px;
        font-size: 14px;

        .created-by {
            @include margin(0, 0, 0, 0);
            width: 25%;
            font-size: 12px;
        }

        .course-run-details {
            @include margin(0, 0, 0, 0);
            width: 75%;
        }
    }
}

.studio-url-heading {
    color: #999999;
    font-weight: 600;
}

.studio-link, .courserun-detail-link {
    text-decoration: underline;
}

.course-image-heading {
    margin-bottom: 10px;
}

.course-image {
    width: 480px;
    height: 250px;
}

.course-image-field {
    .clear-image {
        text-align: center;
        margin-top: 10px;
        width: 100%;
    }

    .course-image-thumbnail {
        width: 100%;
        height: 200px;
    }
}

.selected-instructor {
  display: inline-block;
  padding-top: 10px;
}

#id_staff {
  width: 500px;
}

.instructor-option {
  img {
    width: 80px;
    height: 80px;
  }
  td:nth-child(2) {
    @include padding-left(5px);
    @include padding-right(5px);
  }
}

.instructor {
  @include float(left);
  font-size: smaller;
  width: 125px;
  padding-bottom: 15px;
  img {
    width: 80px;
    height: 80px;
  }
  div {
    text-align: center;
  }
  a {
    color: red;
  }
}

.instructor-select {
  .select2-selection__choice, .select2-selection__clear{
    display: none;
  }
}
