
.coursesTable {
    @include padding(20px, 20px, 20px, 20px);
    border: 2px solid #169bd5;
}


table {

  thead {

    tr {

      td {
          @include text-align(left);
      }
    }
  }

  tr {

    td {
        @include text-align(left);
    }

    .dataTables_empty {
        text-align: center;
    }
  }
}

.dataTables_wrapper .dataTables_length{
  margin-bottom: 15px;
}

table.dataTable.display{
  & thead th{
    padding: 14px 18px;
    border-top: 1px solid #979797;
    border-bottom-color: #979797;
  }
  & tbody tr:first-child td{
    border-top-width: 0 !important;
  }
  & td{
    text-align: center;
    border-top: 1px solid #DEE1E2 !important;
  }
  & td:nth-child(1){
    @include text-align(left);
  }
  &.no-footer{
    border-bottom-color: #979797;
  }
}


.table-view {
  display: table;
  width: 100%;
  border: 0;

  .table-row {
    @include text-align(center);
    display: table-row;

    .table-col {
      @include padding(10px, 5px, 10px, 5px);
      display: table-cell;
      vertical-align: middle;
      color: #333;
      font-size: 14px;
      border: {
        width: 1px 0 0 1px;
        style: solid;
        color: #797979;
      }

      &:first-child {
        @include text-align(left);
      }
    }

    &.table-head {

      .table-col {
        background: #ccc !important;
        font-weight: bold;

        &:first-child {
          @include text-align(center);
        }
      }
    }
  }

  &.table-striped {
    .table-row {

      &:nth-child(odd) {
        .table-col {
          background: #F9FAFC;
        }
      }
    }
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current
, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  padding: 0.1em 0.5em;
  border-radius: 30px;
  border: 1px solid #0491CB !important;
  background: #00A0E3 !important;
  color: #fff !important;
  font-weight: bold;
  font-size: 14px;
}

//reseting plugins colors
table.dataTable.order-column tbody tr > .sorting_1, 
table.dataTable.order-column tbody tr > .sorting_2, 
table.dataTable.order-column tbody tr > .sorting_3, 
table.dataTable.display tbody tr > .sorting_1, 
table.dataTable.display tbody tr > .sorting_2, 
table.dataTable.display tbody tr > .sorting_3{
  background: transparent !important;
}



