# Stay on an LTS release
django<2.3

# Common constraints for edx repos
-c https://raw.githubusercontent.com/edx/edx-lint/master/edx_lint/files/common_constraints.txt

# Elasticsearch upgrades need to be done in lockstep across Open edX
elasticsearch>=7.8,<8.0
django-elasticsearch-dsl>=7.1,<8.0
elasticsearch-dsl>=7.2,<8.0

# FIXME: 0.13+ requires python-slugify, which conflicts with unicode-slugify
transifex-client<0.13

# FIXME: 3+ require schemes in CORS_ORIGIN_WHITELIST URLs - remember to update configuration when you remove this
django-cors-headers<3


# jsonfield2 3.1.0 drops support for python 3.5
jsonfield2<3.1.0

# sphinx has dropped support for python 3.5, latest version requires at least python3.6
# see https://www.sphinx-doc.org/en/master/intro.html#prerequisites
sphinx==2.4.4

# FIXME: dal 3.5 requires you to include jquery yourself on the admin page -- needs a proper fix
django-autocomplete-light<3.5

celery<5.0

# latest version requires PyJWT>=2.0.0 but drf-jwt requires PyJWT[crypto]<2.0.0,>=1.5.2
social-auth-core<4.0.3

# latest version of edx-lint is pulling code-annotations and code-annotations is pulling python-slugify and
# python-slugify is conflicting with unicode-slugify
edx-lint<=1.6
