# Stay on an LTS release
django<4.0

# We are creating a local copy of the common constraints file and override/remove the global constraint which we don't need.
# This approach is used temporarily and will be improved in https://openedx.atlassian.net/browse/BOM-2721
# This file contains all common constraints for edx-repos
-c common_constraints.txt

# Elasticsearch upgrades need to be done in lockstep across Open edX
elasticsearch>=7.8,<7.14
elasticsearch-dsl>=7.2,<8.0
# Disabling this constraint as of now as we are going to use github hash for this
# TODO: Enable this once new version is released after we move to Django 3.2
# django-elasticsearch-dsl>=7.1,<8.0

celery>=5.2.3,<6.0.0

# latest version causing issues in IDAs.
algoliasearch-django<2.0.0
algoliasearch<2.0.0

# This version adds support for Django 3.2, so pinning the beta version for Django 3.2
# Remove this pin once newer stable version is released
authlib==1.0.0rc1

# The latest version require Django 4.0, remove once we have upgraded to Django 4.0
django-admin-sortable2<2.0.0

# The latest versions of django-simple-history and django-stdimage have breaking changes
# Remove this pin after fixing them.
django-simple-history<=3.0.0
django-stdimage<=5.3.0

semgrep==0.102.0

# Version 8.3.0 introduced changes that caused users to see User Disabled error
edx-drf-extensions < 8.3.0

# Pinning sphinx as new major release is causing error while installing requirements.
sphinx<6.0.0