{% load i18n %}

<div class="course-information" xmlns="http://www.w3.org/1999/html">

  <div class="info-item">
    <div class="heading">
      {% trans "Studio instance" %}
    </div>
    <div>
      {% if object.studio_url %}
        <a target="_blank" href="{{ object.studio_url }}">{{ object.lms_course_id }}</a>
      {% else %}
        {% trans "(Required) Not yet added" %}
      {% endif %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Start Date" %}
    </div>
    <div>{{ object.start }}</div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "End Date" %}
    </div>
    <div>{{ object.end }}</div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Certificate type" %}
    </div>
    <div>{{ object.course_type }}</div>
  </div>

    {% if object.verified_seat_price %}
      <div class="info-item">
        <div class="heading">
          {% trans "Certificate Price" %}
        </div>
        <div>
            ${{ object.verified_seat_price }}
        </div>
      </div>
    {% endif %}

  <div class="info-item">
    <div class="heading">
      {% trans "Course Staff" %}
    </div>
    <div>
      {% if not object.course_staff %}
        {% trans "(Required) Not yet added" %}
      {% else %}
        {% for obj in object.course_staff %}
          <div class="course-staff">
            <img src="{{ obj.image_url }}" alt=""/>

            <div class="staff-detail">
              <div class="name">
                  <a href="#" class="btn-instructor-detail"  data-staff_id="{{ obj.uuid }}">{{ obj.full_name }}</a>
              </div>
              <div>{{ obj.position }}</div>
              <div class="organization">{{ obj.organization }}</div>
            </div>
          </div>
          <div class="clearfix"></div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Estimated Effort" %}
    </div>
    <div>
      {% if object.min_effort and object.max_effort %}
        {{ object.min_effort }}-{{ object.max_effort }} {% trans "hours per week" %}
      {% else %}
        {% trans "(Optional) Not yet added" %}
      {% endif %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Course content language" %}
    </div>
    <div>
      {% with  object.language.name as field %}
        {% include "publisher/_render_required_field.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Video Language Transcript" %}
    </div>
    <div>
      {% with  object.transcript_languages as field %}
        {% include "publisher/_render_required_field.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Language spoken in course videos" %}
    </div>
    <div>
      {% with  object.video_language as field %}
        {% include "publisher/_render_optional_field.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Course Length (Weeks)" %}
    </div>
    <div>
      {% with  object.length as field %}
        {% include "publisher/_render_optional_field.html" %}
      {% endwith %}
    </div>
  </div>
</div>
<div class="clearfix"></div>
<script type="text/javascript">
    var staffData = {{ course_staff_config | safe }};
</script>
