{% load i18n %}
{% block content %}

   <div class="course-information">
        <div class="info-item">
            <div class="heading">
                {% trans "Course ID" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
              {% with  object.lms_course_id as field %}
                {% include "publisher/_render_required_field.html" %}
              {% endwith %}
            </div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Enrollment Types" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ object.course_type|capfirst }}</div>
        </div>
    </div>



    {% include 'publisher/course_run_detail/_seats.html' %}
    {% include 'publisher/course_run_detail/_credit_seat.html' %}

    <div class="clearfix"></div>

{% endblock %}

