{% load i18n %}
{% block content %}

   <div class="course-information">
        <div class="info-item">
            <div class="heading">
                {% trans "Course ID" %}
                {% include "publisher/course_run_detail/clipboard.html" %}
            </div>
            <div class="copy">{{ object.lms_course_id }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Course Type" %}
                {% include "publisher/course_run_detail/clipboard.html" %}
            </div>
            <div class="copy">{{ object.course_type|capfirst }}</div>
        </div>
    </div>



    {% include 'publisher/course_run_detail/_seats.html' %}
    {% include 'publisher/course_run_detail/_credit_seat.html' %}

    <div class="clearfix"></div>

{% endblock %}

