{% load i18n %}
<h3 class="hd-6 seat-set-hd">{% trans "Credit Seats" %}</h3>
{% if object.credit_seat %}
<div class="seat-set">
<table class="table">
    <tr>
        <th scope="col">{% trans "Credit Provider" %}</th>
        <th scope="col">{% trans "Price" %}</th>
        <th scope="col">{% trans "Currency" %}</th>
        <th scope="col">{% trans "Credit Hours" %}</th>
        <th scope="col">{% trans "Upgrade Deadline (time in UTC)" %}</th>
    </tr>
    <tr>
        <td>{{ object.credit_seat.credit_provider}}</td>
        <td>{{ object.credit_seat.price}}</td>
        <td>{{ object.credit_seat.currency.name}}</td>
        <td>{{ object.credit_seat.credit_hours }}</td>
        <td>{{ object.credit_seat.upgrade_deadline }}</td>
    </tr>

</table>
</div>
{% else %}
   {% trans "(Optional) Not yet added" %}
{% endif %}
