{% load i18n %}
{% block content %}
<div class="course-information">
    <div class="info-item">
        <div class="heading">
            {% trans "Title" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">{{ object.title }}</div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Number" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">{{ object.number }}</div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Course ID" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
          {% with  object.lms_course_id as field %}
            {% include "publisher/_render_required_field.html" %}
          {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Subtitle" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
          {% with  object.short_description as field %}
            {% include "publisher/_render_required_field.html" %}
          {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Organization" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">{{ object.organization_key }}</div>
    </div>

    <div class="info-item">
        <div class="heading">
        {% trans "MicroMasters" %}
        </div>
        <div>
        {% with  object.micromasters_name as field %}
            {% include "publisher/_render_optional_field.html" %}
        {% endwith %}
        </div>
    </div>

    <div class="info-item">
        <div class="heading">
            {% trans "XSeries" %}
           {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% if object.is_xseries  %}
                {{ object.xseries_name }}
            {% else %}
                {% trans "(Optional) Not yet added" %}
            {% endif %}
        </div>
    </div>

    <div class="info-item">
        <div class="heading">
            {% trans "Professional Certificate Name" %}
        </div>
        <div>
        {% with  object.professional_certificate_name as field %}
            {% include "publisher/_render_optional_field.html" %}
        {% endwith %}
        </div>
    </div>

    <div class="info-item">
        <div class="heading">
            {% trans "Start Date (time in UTC)" %}
           {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">{{ object.start|date:"Y-m-d" }}</div>
    </div>
    <div class="info-item">
        <div class="heading">{% trans "End Date (time in UTC)" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">{{ object.end|date:"Y-m-d" }}</div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Self Paced" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">{{ object.pacing_type }}</div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Staff" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div>
            {% if not object.course_staff %}
                {% trans "(Required) Not yet added" %}
            {% else %}
                {% for obj in object.course_staff %}
                  <div class="course-staff">
                    <img src="{{ obj.image_url }}" alt=""/>

                    <div class="staff-detail">
                      <div class="name">
                        {% if obj.is_new %}
                            <span class="new-staff">{% trans "New" %}</span>
                        {% endif %}
                        <a href="#" class="btn-instructor-detail"  data-staff_id="{{ obj.uuid }}">{{ obj.full_name }}</a>
                      </div>
                      <div>{{ obj.position }}</div>
                      <div class="organization">{{ obj.organization }}</div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Estimated Effort" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% if object.min_effort and object.max_effort %}
                {{ object.min_effort }} {% trans "to" %} {{ object.max_effort }} {% trans "hours per week" %}
            {% else %}
                {% with  object.estimated_effort as field %}
                    {% include "publisher/_render_required_field.html" %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Languages" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
          {% with  object.language.name as field %}
            {% include "publisher/_render_required_field.html" %}
          {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Video Transcript Languages" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
          {% with  object.transcript_languages as field %}
            {% include "publisher/_render_required_field.html" %}
          {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Level" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
          {% with  object.level_type as field %}
            {% include "publisher/_render_required_field.html" %}
          {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Full Description" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
          {% with  object.full_description as field %}
            {% include "publisher/_render_required_field.html" %}
          {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "What You'll Learn" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% with  object.expected_learnings as field %}
                {% include "publisher/_render_required_field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Course Image" %}
        </div>
        <div>
            {% if not object.course_image_url %}
                {% trans "(Required) Not yet added" %}
            {% else %}
                <img class="course-image" src="{{ object.course_image_url }}" alt="{% trans 'Course Image' %}">
                <div class="download-image">
                    <a download href="{{ object.course_image_url }}">
                        {% trans "Download" %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Prerequisites" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% with  object.prerequisite as field %}
                {% include "publisher/_render_optional_field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Keywords" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% with  object.keywords as field %}
                {% include "publisher/_render_optional_field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Sponsors" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% if object.wrapped_obj.sponsor.all %}
                {% for sponsor in object.wrapped_obj.sponsor.all %}
                    {{ sponsor.name }}<br>
                {% endfor %}
            {% else %}
                {% trans "(Optional) Not yet added" %}
            {% endif %}
        </div>
    </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Course Syllabus" %}
    </div>
    <div>
      {% with  object.syllabus as field %}
        {% include "publisher/_render_optional_field.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Primary Subject" %}
    </div>
    <div>
      {% with  object.subjects.0 as field %}
        {% include "publisher/_render_required_field.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Additional Subject" %}
    </div>
    <div>
      {% with  object.subjects.1 as field %}
        {% include "publisher/_render_optional_field.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Additional Subject" %}
    </div>
    <div>
      {% with  object.subjects.2 as field %}
        {% include "publisher/_render_optional_field.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="info-item">
    <div class="heading">
      {% trans "Course Length (Weeks)" %}
    </div>
    <div>
      {% with  object.length as field %}
        {% include "publisher/_render_optional_field.html" %}
      {% endwith %}
    </div>
  </div>

    <div class="info-item">
        <div class="heading">
            {% trans "Learner Testimonials" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% with  object.course.learner_testimonial as field %}
                {% include "publisher/_render_optional_field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "FAQ" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
            {% with  object.course.faq as field %}
                {% include "publisher/_render_optional_field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="info-item">
        <div class="heading">
            {% trans "Course About Video" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        {% with  object.course.video_link as value %}
            {% if value %}
                <a class="copy" href="{{ value }}" target="_blank">{{ value }}</a>
            {% else %}
                {% trans "(Optional) Not yet added" %}
            {% endif %}
        {% endwith %}
    </div>

    <h3 class="hd-3 de-emphasized">{% trans "Enrollment Types" %}</h3>
    <div class="info-item">
        <div class="heading">
            {% trans "Seats" %}
            {% include "publisher/course_run_detail/_clipboard.html" %}
        </div>
        <div class="copy">
        {% if object.wrapped_obj.seats.all %}
            {% for seat in object.wrapped_obj.seats.all %}
                <span>{{ seat.type }}</span>
            {% endfor %}
        {% else %}
            {% trans "(Required) Not yet added" %}
        {% endif %}
        </div>
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}
