{% load compress %}
{% load i18n %}
{% load static %}

<div id="instructorProfileModal" class="modal">
    <div class="modal-content course-information">
        <div class="head" style="text-align: center;">
            <img class="image_url instructor-image" src="" alt="avatar">
            <a download href="" class="btn btn-download">
                <span class="icon fa fa-download" aria-hidden="true"></span>
                {% trans "Download" %}
            </a>
        </div>

        <div class="info-item">
            <div class="heading">{% trans "Name" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy full_name"></div>
        </div>
        
        <div class="info-item">
            <div class="heading">{% trans "Email" %}:
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy email"></div>
        </div>
        
        <div class="info-item">
            <div class="heading">{% trans "Organization" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy organization"></div>
        </div>

        <div class="info-item">
            <div class="heading">{% trans "Title" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy position"></div>
        </div>

        <div class="info-item">
            <div class="heading">
                <a class="profile_url" target="_blank">{% trans "Profile URL "%}</a>
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy profile_url_copy hidden"></div>
        </div>

        <div class="info-item">
            <div class="heading">{% trans "Bio" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy bio"></div>
        </div>

        <div class="social-links">
            <div class="heading icon">
                <a class="facebook_url" target="_blank">{% trans "Facebook URL "%}</a>
                {% include "publisher/course_run_detail/_clipboard.html" %}
                <div class="copy facebook_url_copy hidden"></div>
            </div>

            <div class="heading icon">
                <a class="twitter_url" target="_blank">{% trans "Twitter URL "%}</a>
                {% include "publisher/course_run_detail/_clipboard.html" %}
                <div class="copy twitter_url_copy hidden"></div>
            </div>

            <div class="heading icon">
                <a class="blog_url" target="_blank">{% trans "Blog URL "%}</a>
                {% include "publisher/course_run_detail/_clipboard.html" %}
                <div class="copy blog_url_copy hidden"></div>
            </div>
        </div>

        <div class="actions">
            <a class="btn-cancel closeModal" href="#">{% trans "Close" %}</a>
        </div>
    </div>
</div>
{% block extra_js %}
    <script src="{% static 'bower_components/clipboard/dist/clipboard.min.js' %}"></script>
    <script>
        new Clipboard(".btn-copy", {
            text: function(trigger) {
                return $(trigger).next('.copy').text().trim();
            }
        });
    </script>
{% endblock %}
