{% load i18n %}
{% block content %}
    <div class="course-information">
        <h3 class="hd-3 emphasized">{% trans "Course" %}</h3>
        <hr>
        <div class="info-item">
            <div class="heading">
                {% trans "Title" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ object.title }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Number" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ object.number }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Account" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ object.organization_name }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Authored in Studio?" %}
            </div>
            <div class="copy">{{ object.is_authored_in_studio }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Multiple Partner Course?" %}
            </div>
            <div class="copy">{{ object.is_multiple_partner_course }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Course Level" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
              {% with  object.level_type as field %}
                {% include "publisher/_render_required_field.html" %}
              {% endwith %}
            </div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Subject Area" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
              {% with  object.course.primary_subject.name as field %}
                {% include "publisher/_render_required_field.html" %}
              {% endwith %}
            </div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Language: Course Text" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
              {% with  object.language.name as field %}
                {% include "publisher/_render_required_field.html" %}
              {% endwith %}
            </div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Language: Transcripts" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
                {% with  object.transcript_languages as field %}
                    {% include "publisher/_render_required_field.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Language: Video" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
                {% with  object.video_language as field %}
                    {% include "publisher/_render_required_field.html" %}
                {% endwith %}
            </div>
        </div>

        <h3 class="hd-3 emphasized">{% trans "Course Run" %}</h3>
        <hr>

        <div class="info-item">
            <div class="heading">
                {% trans "New or Rerun?" %}
            </div>
            <div class="copy">{{ object.is_re_run }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Platform" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ platform_name }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Faculty" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
                {% if not object.course_staff %}
                    {% trans "(Required) Not yet added" %}
                {% else %}
                    {% for obj in object.course_staff %}
                      <div class="course-staff">
                        <img src="{{ obj.image_url }}" alt=""/>

                        <div class="staff-detail">
                          <div class="name">
                            {% if obj.profile_url %}
                              <a href="{{ obj.profile_url }}" target="_blank">{{ obj.full_name }}</a>
                            {% else %}
                              {{ obj.full_name }}
                            {% endif %}
                          </div>
                          <div>{{ obj.position }}</div>
                          <div class="organization">{{ obj.organization }}</div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Course Run Display Name" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ object.title }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Course Run Number" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ object.number }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "edX Course Run ID" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
              {% with  object.lms_course_id as field %}
                {% include "publisher/_render_required_field.html" %}
              {% endwith %}
            </div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Certificate Type" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ object.course_type }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Course $ (minimum)" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
                {% with  object.seat_price as field %}
                    {% include "publisher/_render_optional_field.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Credit $ (minimum)" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
                {% with  object.credit_seat_price as field %}
                    {% include "publisher/_render_optional_field.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Self Paced?" %}
            </div>
            <div class="copy">{{ object.is_self_paced }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "MDC Submission Due Date" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
                {% with  object.mdc_submission_due_date as field %}
                    {% include "publisher/_render_optional_field.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Verified Conversion Date" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
                {% with  object.verification_deadline as field %}
                    {% include "publisher/_render_optional_field.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Start Date" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ object.start }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "End Date" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">{{ object.end }}</div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Verified Registration Expiration Date" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
                {% with  object.verified_seat_expiry as field %}
                    {% include "publisher/_render_optional_field.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="info-item">
            <div class="heading">
                {% trans "Certificate Issued Date" %}
                {% include "publisher/course_run_detail/_clipboard.html" %}
            </div>
            <div class="copy">
                {% with  object.certificate_generation as field %}
                    {% include "publisher/_render_optional_field.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
