{% load i18n %}
<h3 class="hd-4 seat-set-hd">Seats</h3>
{% if object.non_credit_seats %}
<div class="seat-set">
    <table class="table">
            <tr>
              <th scope="col">{% trans "Enrollment Type" %}</th>
              <th scope="col">{% trans "Price" %}</th>
              <th scope="col">{% trans "Currency" %}</th>
              <th scope="col">{% trans "Upgrade Deadline (time in UTC)" %}</th>
            </tr>
            {% for seat in object.non_credit_seats %}
                    <tr>
                        <td>{{ seat.type}}</td>
                        <td>{{ seat.price}}</td>
                         <td>{{ seat.currency}}</td>
                        <td>{{ seat.upgrade_deadline }}</td>
                    </tr>
            {% endfor %}
    </table>
</div>
{% else %}
   {% trans "(Required) Not yet added" %}
{% endif %}
