{% extends "publisher/email/email_base.html" %}
{% load i18n %}
{% load django_markup %}
{% block body %}
<!-- Message Body -->

    <p>
        {% filter force_escape %}
        {% blocktrans trimmed %}
            Dear {{ recipient_name }},
        {% endblocktrans %}
        {% endfilter %}
    </p>
    <p>
        {% blocktrans trimmed asvar tmsg %}
            The {sender_team} has reviewed {link_start}{page_url}{link_middle} {course_name}{link_end} and has suggested no changes. The review for this course is complete.
        {% endblocktrans %}
        {% interpolate_html tmsg link_start='<a href="'|safe link_middle='">'|safe link_end='</a>'|safe sender_team=sender_team|safe page_url=page_url|safe course_name=course_name|safe %}
    </p>
<!-- Note that the link in the following paragraph now goes to the course page instead of to a course run page (because there may be more than one course run). -->
    <p>
        {% blocktrans trimmed asvar tmsg %}
            You can now submit a course run for review. To do this, {link_start}{page_url}{link_middle} go to the course page{link_end} and open the page for any course run. On the course run page, add all required information for that course run, and then submit the course run for review.
        {% endblocktrans %}
        {% interpolate_html tmsg link_start='<a href="'|safe link_middle='">'|safe link_end='</a>'|safe page_url=page_url|safe %}
    </p>
    {% comment %}Translators: It's closing of mail.{% endcomment %}
    {% trans "Thanks," as tmsg %}{{ tmsg | force_escape }}<br>
    {{ sender_name }}

{% blocktrans trimmed asvar tmsg %}
    {p_start}Note: This email address is unable to receive replies. For questions or comments, contact {contact_us_email}.{p_end}
{% endblocktrans %}
{% interpolate_html tmsg p_start='<p>'|safe p_end='</p>'|safe contact_us_email=contact_us_email|safe %}

<!-- End Message Body -->
{% endblock body %}
